@use '../function/index' as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: vwmin(128, pc, 128);
  background-color: #EBE9DF;

  @include underTB {
    scroll-padding-top: vwmin(80, sp, 80);
  }
}

.bl_commonBgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100lvh;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.is_noScroll {
  overflow: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--baseFontColor);
  overscroll-behavior: none;
  scroll-behavior: smooth;
  font-size: vwmin(16, pc, 16);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-break: strict;
  color: var(--baseFontColor);
  background-color: #EBE9DF;
  letter-spacing: 0.02em;

  @include underTB {
    font-size: vwmin(16, sp, 16);
  }
}

.ly_commonContantsOuter {
  padding-inline: vwmin(20, pc, 20);

  @include underTB {
    padding-inline: vwmin(20, sp, 20);
  }

  .ly_commonContantsOuter_inner {
    max-width: vwmin(1060, pc, 1060);
    margin-inline: auto;

    @include underTB {
      max-width: 100%;
    }
  }
}

.ly_overBg {
  position: relative;
  z-index: 1;
}

.ly_commonContantsBgItemContainer {
  .ly_commonContantsBgItemContainer_item {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }
  }
}