@use "setting" as s;
/* ===================================
common
=================================== */
/* ===================================
header
=================================== */
.pg_top{
    .ly_header{
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
        &.is_view{
            opacity: 1;
            visibility: visible;
        }
    }
}
/* ===================================
FV
=================================== */
