@use '../foundation/function/index' as *;

.bl_footerReserveSec {
    position: relative;
    padding-inline: vwmin(20, pc, 20);
    z-index: 10;

    .bl_footer_reserveContainer {
        position: relative;
        width: 100%;
        background-color: var(--accentColor);
        padding-block: vwmin(60, pc, 60);
        border-radius: vwmin(50, pc, 50);
        max-width: vwmin(1060, pc, 1060);
        margin-inline: auto;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: url("img/common/bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 0;
        }

        .bl_footer_reserveContainer_inner {
            position: relative;
            z-index: 1;
            width: 100%;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            @include underTB {
                grid-template-columns: 1fr;
                gap: vwmin(30, pc, 30);
                padding-inline: vwmin(20, pc, 20);
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: vwmin(1, pc, 1);
            height: calc(100% - vwmin(120, pc, 120));
            background-color: #9E586C;
            order: 2;
            @include underTB {
                display: none;
            }
        }

        .bl_footer_reserveContainer_ttlContainer {
            width: fit-content;
            order: 1;
            margin-inline: auto;

            .el_footer_reserveContainer_ttl_sub {
                width: fit-content;
                display: flex;
                flex-direction: column;
                gap: vwmin(6, pc, 6);
                color: var(--white-txt, #FFF);
                font-family: "Marcellus";
                font-size: vwmin(28, pc, 28);
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: calc(0.56px / 28);
                margin-bottom: vwmin(8, pc, 8);

                @include underTB {
                    margin-inline: auto;
                }

                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    width: 100%;
                    height: vwmin(8, pc, 8);
                    background-image: url("img/common/footer-reserve-ttl.svg");
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    z-index: 0;
                }
            }

            .el_footer_reserveContainer_ttl {
                color: var(--white-txt, #FFF);
                font-family: "Shippori Mincho";
                font-size: vwmin(40, pc, 40);
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(1.6px / 40);

                @include underTB {
                    font-size: vwmin(32, pc, 32);
                }
            }
        }

        .bl_footer_reserveContainer_btnContainer {
            width: 100%;
            max-width: vwmin(302, pc, 302);
            order: 3;
            margin-inline: auto;

            .el_footer_reserveContainer_btn {
                cursor: pointer;
                position: relative;
                display: block;
                background-color: var(--white-txt);
                color: var(--accentColor);
                font-size: vwmin(24, pc, 24);
                font-style: normal;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: calc(0.48px / 24);
                border-radius: vwmin(50, pc, 50);
                padding-top: vwmin(12, pc, 12);
                padding-bottom: vwmin(14, pc, 14);
                border: vwmin(1, pc, 1) solid transparent;
                width: 100%;
                background-color: var(--white-bg);
                z-index: 1;
                margin-inline: auto;
                transition: all 0.3s var(--reverseTransition);

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--accentColor);
                        color: #fff;
                        border: vwmin(1, pc, 1) solid #fff;
                        transition: all 0.3s var(--reverseTransition);
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------------- */
/* クリニック案内
/* -------------------------------------------------------------- */
.ly_footerBg {
    position: relative;
    z-index: 0;
    background-color: #E0DDD0;
}


.ly_footerClinicSec {
    position: relative;
    z-index: 0;
    padding-top: vwmin(230, pc, 230);
    padding-bottom: vwmin(100, pc, 100);
    margin-top: -120px;

    @include underTB {
        margin-top: -150px;
    }


    .bl_footerClinicSec_ttlContainer {
        width: fit-content;
        margin-inline: auto;
        margin-bottom: vwmin(60, pc, 60);
    }

    .bl_clinicList {
        grid-template-columns: repeat(2, 1fr);
        gap: vwmin(20, pc, 20);

        @include underTB {
            grid-template-columns: 1fr;
        }
    }
}


.ly_footerBg_inner {
    position: relative;
    z-index: 0;

    .ly_commonContantsBgItemContainer_item {
        display: block;
        width: 100%;
        translate: 0 vwmin(2, pc, 2);

        img {
            display: block;
            width: 100%;
        }
    }
}


/* -------------------------------------------------------------- */
/* フッター
/* -------------------------------------------------------------- */
.ly_footer {
    position: relative;
    z-index: 0;

    .ly_footer_upper {
        position: relative;
        background-color: var(--baseFontColor);
        padding-block: vwmin(60, pc, 60);
        padding-inline: vwmin(20, pc, 20);


        .ly_footer_upper_inner {
            max-width: vwmin(1060, pc, 1060);
            margin-inline: auto;
        }

        .bl_header_nav_inner_menu {
            color: #fff;
            padding: 0;
        }

        .bl_header_nav_inner_menu_conatainer {
            .bl_header_nav_inner_menu_conatainer_titleWrapper {
                .bl_header_nav_inner_menu_conatainer_title {
                    color: #fff;
                }
            }
        }
    }
}

.ly_footer_lower {
    background-color: #222222;
    padding-inline: vwmin(20, pc, 20);
    padding-top: vwmin(60, pc, 60);
    padding-bottom: vwmin(30, pc, 30);

    .ly_footer_lower_inner {
        max-width: vwmin(1060, pc, 1060);
        margin-inline: auto;
    }


    .bl_footerGlobalNavi {
        display: grid;
        grid-template-columns: vwmin(220, pc, 220) auto;
        gap: vwmin(20, pc, 20);
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: vwmin(40, pc, 40);

        @include underTB {
            grid-template-columns: 1fr;
            gap: vwmin(30, pc, 30);
        }

        .bl_footerGlobalNavi_logo {
            display: block;
            width: 100%;
            transition: all 0.3s var(--reverseTransition);

            img{
                width: 100%;
            }

            @include underTB {
                max-width: vwmin(388, pc, 388);
                width: 100%;
                margin-inline: auto;
            }

            @media (hover: hover) {
                &:hover {
                    opacity: 0.5;
                    transition: all 0.3s var(--reverseTransition);
                }
            }
        }


        .bl_footerGlobalNavi_list {
            display: grid;
            grid-template-columns: repeat(3, auto);
            row-gap: vwmin(20, pc, 20);
            column-gap: vwmin(40, pc, 40);
            width: fit-content;
            justify-content: space-between;

            @include underTB {
                grid-template-columns: repeat(2,1fr);
                gap: vwmin(20, pc, 20);
                width: 100%;
            }

            .bl_footerGlobalNavi_list_item {

                .bl_footerGlobalNavi_list_item_link {
                    color: #FFF;
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.28px / 14);
                    transition: all 0.3s var(--reverseTransition);

                    @media (hover: hover) {
                        &:hover {
                            opacity: 0.5;
                            transition: all 0.3s var(--reverseTransition);
                        }
                    }
                }
            }
        }
    }
}

.bl_footerGlobalNavi_copyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: vwmin(30, pc, 30);
    border-top: vwmin(1, pc, 1) solid #333;

    @include underTB {
    align-items: flex-start;
        flex-direction: column;
        gap: vwmin(24, pc, 24);
    }

    .bl_footerGlobalNavi_copyContainer_list {
        display: flex;
        align-items: center;
        gap: vwmin(20, pc, 20);

        @include underTB {
            align-items: flex-start;
            flex-direction: column;
            gap: vwmin(8, pc, 8);
        }

        .bl_footerGlobalNavi_copyContainer_list_item {
            color: var(--gray-txt, #999);
            font-size: vwmin(12, pc, 12);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.24px / 12);
            transition: all 0.3s var(--reverseTransition);

            @media (hover: hover) {
                &:hover {
                    opacity: 0.5;
                    transition: all 0.3s var(--reverseTransition);
                }
            }
        }
    }

    .el_footerGlobalNavi_copyright_txt {
        color: var(--gray-txt, #999);
        font-size: vwmin(12, pc, 12);
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: calc(0.24px / 12);
    }
}