@use '../foundation/function/index' as *;

/* ===================================
header
=================================== */
.ly_header {

    .ly_header_conatiner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding-inline: vwmin(40, pc, 40);
        padding-top: vwmin(28, pc, 28);
        box-sizing: border-box;
        z-index: 100;
        background-color: transparent;
        mix-blend-mode: exclusion;

        @include underTB {
            padding-inline: vwmin(20, pc, 20);
            padding-top: vwmin(16, pc, 16);
        }

        .ly_header_inner {
            position: relative;
            display: grid;
            grid-template-columns: vwmin(155, pc, 155) vwmin(36, pc, 36);
            justify-content: space-between;
            align-items: center;
            pointer-events: none;

            @include underTB {
                grid-template-columns: vwmin(141, pc, 141) vwmin(24, pc, 24);
            }

            .bl_header_inner_logo {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                isolation: isolate;

                img {
                    width: 100%;
                    filter: brightness(0) invert(1);
                }
            }

            .bl_header_inner_logo_link {
                transition: all;
                pointer-events: auto;

                @media (hover: hover) {
                    &:hover {
                        opacity: .5;
                        transition: all 0.3s var(--reverseTransition);
                    }
                }
            }

            .bl_header_menu {
                @include underTB {
                    grid-template-columns: vwmin(168, sp) vwmin(36, sp);
                    gap: vwmin(30, sp);
                }
            }
        }
    }

    .el_header_menu_btn {
        cursor: pointer;
        position: fixed;
        top: vwmin(27, pc, 27);
        right: vwmin(40, pc, 40);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        max-width: vwmin(36, pc, 36);
        background-color: transparent;
        border: none;
        cursor: pointer;
        aspect-ratio: 1/1;
        padding: 0;
        z-index: 120;
        mix-blend-mode: exclusion;

        @include underTB {
            top: vwmin(16, pc, 16);
            right: vwmin(20, pc, 20);
        }

        .bl_header_menu_btn_lineContainer {
            position: relative;
            height: vwmin(6, pc, 6);
            width: 100%;
            display: block;
            width: 100%;
            min-height: vwmin(6, pc, 6);

            .el_header_menu_btn_lineContainer_line {
                position: absolute;
                display: block;
                height: vwmin(1, pc, 1);
                background-color: #fff;
                transition: transform 0.3s var(--reverseTransition);

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: all 0.3s var(--reverseTransition);
                }

                &:nth-child(2) {
                    top: vwmin(5, pc, 5);
                    right: 0;
                    left: auto;
                    width: 100%;
                    max-width: vwmin(24, pc, 24);
                    transition: all 0.3s var(--reverseTransition);

                }
            }
        }
    }

    .el_header_menu_btn.is_active {
        .bl_header_menu_btn_lineContainer {
            height: vwmin(14, pc, 14);
            transition: all 0.3s var(--reverseTransition);


            .el_header_menu_btn_lineContainer_line {
                transition: all 0.3s var(--reverseTransition);

                &:nth-child(1) {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-20deg);
                    max-width: 100%;
                    transition: transform .3s var(--reverseTransition);
                    will-change: transform;
                }

                &:nth-child(2) {
                    top: 50%;
                    right: -50%;
                    left: auto;
                    transform: translate(-50%, -50%) rotate(20deg);
                    max-width: 100%;
                    transition: transform .3s var(--reverseTransition);
                    will-change: transform;
                }
            }
        }
    }




    .bl_header_menu_lineReserveBtn {
        position: fixed;
        top: vwmin(24, pc, 24);
        right: vwmin(106, pc, 106);
        width: 100%;
        max-width: vwmin(168, pc, 168);
        display: flex;
        padding-top: vwmin(12, pc, 12);
        padding-bottom: vwmin(10, pc, 10);
        justify-content: center;
        align-items: center;
        background-color: var(--accentColor);
        border-radius: vwmin(10, pc, 10);
        font-weight: 500;
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        color: #fff;
        font-weight: 600;
        line-height: 1.4;
        border-radius: vwmin(50, pc, 50);
        border: vwmin(1, pc, 1) solid transparent;
        mix-blend-mode: normal;
        isolation: isolate;
        transition: background-color .3s cubic-bezier(0, 0, 0.46, 1), color .3s cubic-bezier(0, 0, 0.46, 1);
        z-index: 110;

        @include underTB {
            width: 100%;
            max-width: 100%;
            border-radius: vwmin(8, pc, 8) vwmin(8, pc, 8) 0 0;
            left: 0;
            bottom: env(safe-area-inset-bottom);
            height: fit-content;
            translate: 0;
            right: auto;
            top: auto;
        }

        @media (hover: hover) {
            &:hover {
                background-color: #fff;
                color: var(--accentColor);
                border: 1px solid var(--accentColor);
                transition: background-color .3s var(--reverseTransition), color .3s var(--reverseTransition);
            }
        }
    }

    .bl_header_menu_lineReserve_modal {
        position: fixed;
        top: vwmin(95, pc, 95);
        right: vwmin(106, pc, 106);

        @include underTB {
            bottom: vwmin(60, pc, 60);
            left: 50%;
            translate: -50% 0;
            right: auto;
            top: auto;
            padding-top: vwmin(16, pc, 16);
            padding-bottom: vwmin(14, pc, 14);
        }

    }


}


/*
navi
=================================== */

.bl_header_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    z-index: 110;
    background-color: #EBE9DF;

    .bl_header_nav_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @include underTB {
            height: 100lvh;
        }
    }


    .bl_header_nav_inner {
        display: grid;
        grid-template-columns: vwmin(480, pc) 1fr;
        height: 100%;

        @include underPC {
            overflow-y: auto;
            grid-template-columns: 1fr;
            padding-bottom: vwmin(100, pc, 100);
        }


        .bl_header_nav_inner_ctaContainer {
            position: relative;
            background-color: var(--accentColor);

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("img/common/bg.png");
                background-size: cover;
                background-position: center;
                z-index: 0;
            }

            .bl_header_nav_inner_ctaContainer_inner {
                position: relative;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                gap: vwmin(60, pc, 60);
                height: 100%;
                padding-inline: vwmin(60, pc, 60);
                padding-block: vwmin(60, pc, 60);
                z-index: 1;


                .bl_header_nav_inner_ctaContainer_inner_lineReserveBtn {
                    position: relative;
                    width: 100%;

                    .bl_commonlineReserveBtn {
                        max-width: vwmin(285, pc, 285);
                        margin-inline: auto;
                    }
                }

                .bl_header_lineReserve_modal {
                    left: 50%;
                    translate: -50% vwmin(18, pc, 18);

                    .el_lineReserveModal_inner_closeBtn {
                        top: vwmin(-10, pc, -10);
                        right: vwmin(-10, pc, -10);
                    }
                }

            }

            .bl_header_nav_inner_ctaContainer_inner_banner {
                max-width: vwmin(285, pc, 285);
                width: 100%;
                transition: all 0.3s var(--reverseTransition);

                @media (hover :hover) {
                    &:hover {
                        opacity: .5;
                        transition: all 0.3s var(--reverseTransition);
                    }
                }
            }
        }
    }
}


.bl_header_nav_inner_menu {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: vwmin(80, pc, 80);
    overflow-y: auto;
    padding-inline: vwmin(80, pc, 80);
    padding-top: vwmin(100, pc, 100);
    padding-bottom: vwmin(80, pc, 80);

    @include underPC {
        overflow-y: visible;
    }


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/common/bg.png");
        background-position: center;
        background-size: 100% 100%;
        z-index: -1;
    }


    @include underTB {
        overflow-y: visible;
        padding-inline: vwmin(20, pc, 20);
    }


    .bl_header_nav_inner_menu_conatainer {
        display: flex;
        flex-flow: column;
        gap: vwmin(20, pc, 20);


        .bl_header_nav_inner_menu_conatainer_titleWrapper {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: vwmin(16, pc, 16);
            align-items: center;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: vwmin(1, pc);
                background-color: #CCC8B9;
            }

            .bl_header_nav_inner_menu_conatainer_title {
                color: var(--black, #333);
                font-family: "Shippori Mincho";
                font-size: vwmin(18, pc, 18);
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(0.72px / 18px);
            }
        }

        .bl_header_nav_inner_menu_conatainer_listWrapper {

            .bl_globalNaviList {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(min(vwmin(180, pc, 180), 100%), 1fr));
                row-gap: vwmin(16, pc, 16);
                column-gap: vwmin(64, pc, 64);

                @include underTB {
                    grid-template-columns: repeat(2, 1fr);
                    gap: vwmin(20, pc, 20);
                }

                .bl_globalNaviList_item_link {
                    display: grid;
                    grid-template-columns: 1fr vwmin(10, pc, 10);
                    gap: vwmin(10, pc, 10);
                    align-items: center;
                    padding-bottom: vwmin(16, pc, 16);
                    border-bottom: vwmin(1, pc, 1) solid #fff;
                    border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
                    transition: all 0.3s var(--reverseTransition);

                    @media (hover: hover) {
                        &:hover {
                            opacity: .5;
                            transition: all 0.3s var(--reverseTransition);
                        }
                    }



                    .el_globalNaviList_item_link_text {
                        font-size: vwmin(16, pc, 16);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: calc(0.32px / 16px);
                    }
                }
            }


            .bl_globalMenuList {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: vwmin(10, pc, 10);
                column-gap: vwmin(22, pc, 22);

                @include underTB {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: vwmin(20, pc, 20);
                    row-gap: vwmin(10, pc, 10);
                }


                .bl_globalMenuList_item_link {
                    display: grid;
                    grid-template-columns: vwmin(10, pc, 10) 1fr;
                    gap: vwmin(10, pc, 10);
                    align-items: flex-start;
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.28px / 14px);
                    transition: all 0.3s var(--reverseTransition);

                    @media (hover: hover) {
                        &:hover {
                            opacity: .5;
                            transition: all 0.3s var(--reverseTransition);
                        }
                    }

                    &::before {
                        content: '';
                        position: relative;
                        display: block;
                        width: 100%;
                        height: vwmin(1, pc, 1);
                        background-color: #CCC8B9;
                        margin-top: vwmin(12, pc, 12);
                    }

                }
            }
        }

    }
}