@charset "UTF-8";

//foundation
@use "foundation/function/index" as *;
@use "foundation/variable/index" as *;

//layout
@use "layout/header";
@use "layout/footer";

//object / component
@use "object/component/index";

//object / page
@use 'object/page/home';
@use 'object/page/page';
@use 'object/page/single';
@use 'object/page/archive';
@use 'object/page/article';


//専用
@use 'object/page/price';
@use 'object/page/menu';
@use 'object/page/doctor';
@use 'object/page/clinic';
@use 'object/page/case';
