@use '../../foundation/function/index' as *;

/* ------------------------------------------------------------
共通ボタン
------------------------------------------------------------ */
.bl_commonBreadcrumbContainer {
    padding-inline: vwmin(20, pc, 20);
    padding-top: vwmin(100, pc, 100);

    @include underTB {
        padding-top: vwmin(68, pc, 68);
    }
}


.bl_commonlineReserveBtn {
    width: 100%;
    display: flex;
    border-radius: vwmin(50, pc, 50);
    padding-top: vwmin(12, pc, 12);
    padding-bottom: vwmin(14, pc, 14);
    justify-content: center;
    align-items: center;
    color: var(--accentColor);
    font-size: vwmin(20, pc, 20);
    font-weight: 600;
    ;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
}


.bl_commonBorderRadialArrowBtn {
    display: grid;
    grid-template-columns: 1fr vwmin(32, pc, 32);
    gap: vwmin(12, pc, 12);
    align-items: center;
    justify-content: space-between;
    border-bottom: vwmin(1, pc, 1) solid var(--line);
    padding-bottom: vwmin(12, pc, 12);
    transition: all 0.3s var(--reverseTransition);


    .el_commonBorderRadialArrowBtn_txt {
        font-family: "Shippori Mincho";
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: calc(0.64px / 16);
        transition: all 0.3s var(--reverseTransition);

    }

    .el_commonBorderRadialArrowBtn_arrowContainer {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: vwmin(10, pc, 10);
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        border-radius: 100%;
        transition: all 0.3s var(--reverseTransition);
        background-color: var(--baseFontColor);
        border: vwmin(1, pc, 1) solid transparent;


        svg {
            width: 100%;
            height: auto;
            fill: #fff;
        }
    }

    @media (hover :hover) {
        &:hover {
            transition: all 0.3s var(--reverseTransition);
            border-bottom: vwmin(1, pc, 1) solid var(--accentColor);


            .el_commonBorderRadialArrowBtn_txt {
                color: var(--accentColor);
                transition: all 0.3s var(--reverseTransition);
            }

            .el_commonBorderRadialArrowBtn_arrowContainer {
                transition: all 0.3s var(--reverseTransition);
                background-color: #fff;
                border: vwmin(1, pc, 1) solid var(--accentColor);

                svg {
                    transition: all 0.3s var(--reverseTransition);
                    fill: var(--accentColor);
                }
            }
        }
    }
}


/* ------------------------------------------------------------
おすすめバナー
------------------------------------------------------------ */

.bl_recommendBannerList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(vwmin(450, pc, 450) , 100%), 1fr));
    gap: vwmin(20, pc, 20);


    .bl_recommendBannerList_item {

        .bl_recommendBannerList_item_btn {
            position: relative;
            display: grid;
            grid-template-columns: vwmin(290, pc, 290) 1fr;
            align-items: center;
            padding-inline: vwmin(30, pc, 30);
            padding-block: vwmin(35, pc, 35);
            border-radius: vwmin(10, pc, 10);
            overflow: hidden;
            box-shadow: 0px 0px vwmin(6, pc, 6) 0px rgba(41, 25, 10, 0.10);

            .bl_recommendBannerList_item_bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }

            .bl_recommendBannerList_item_txtContainer {
                position: relative;
                display: flex;
                flex-flow: column;
                gap: vwmin(24, pc, 24);
                z-index: 1;

                @include underTB {
                    gap: vwmin(16, pc, 16);
                }

                .bl_recommendBannerList_item_txtContainer_ttl {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(20, pc, 20);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: calc(0.8px / 20);

                    @include underTB {
                        font-size: vwmin(18, pc, 18);
                    }
                }

                .bl_recommendBannerList_item_txtContainer_txt {
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8;
                    letter-spacing: calc(0.28px / 14);
                }
            }
        }
    }
}


/* ------------------------------------------------------------
症例
------------------------------------------------------------ */

.bl_caseList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vwmin(20, pc, 20);

    .bl_caseList_item {
        display: contents;

        .bl_caseList_item_btn {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 3;
            grid-template-columns: 1fr;
            gap: vwmin(20, pc, 20);
            border-radius: vwmin(16, pc, 16);
            overflow: hidden;
            padding: vwmin(20, pc, 20);
            background-color: var(--white-bg);
            box-shadow: 0px 0px vwmin(6, pc, 6) 0px rgba(41, 25, 10, 0.10);
            border: vwmin(3, pc, 3) solid transparent;
            transition: all 0.3s var(--reverseTransition);

            @media (hover :hover) {
                &:hover {
                    transition: all 0.3s var(--reverseTransition);
                    border: vwmin(3, pc, 3) solid var(--accentColor);
                }
            }

            //画像
            .bl_caseList_item_imgContainer {
                width: 100%;
                aspect-ratio: 1/1;

                .bl_caseList_item_imgContainer_img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            //タイトル
            .bl_caseList_item_txtContainer {

                .bl_bl_caseList_item_txtContainer_tagList {
                    display: flex;
                    flex-wrap: wrap;
                    gap: vwmin(8, pc, 8);
                    margin-bottom: vwmin(4, pc, 4);

                    .el_caseList_item_txtContainer_tagList_item {
                        color: #999;
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.24px / 12);
                    }
                }

                .bl_caseList_item_txtContainer_ttl {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(20, pc, 20);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: calc(0.8px / 20);
                }
            }

            //症例情報
            .bl_caseList_item_caseInfo {
                display: flex;
                flex-flow: column;
                gap: vwmin(10, pc, 10);

                .bl_caseList_item_caseInfo_item {
                    display: grid;
                    grid-template-columns: vwmin(100, pc, 100) 1fr;
                    gap: vwmin(10, pc, 10);
                    align-items: baseline;

                    .bl_caseList_item_caseInfo_item_dt {
                        color: #333;
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.24px / 12);
                        padding-block: vwmin(3, pc, 3);
                        padding-inline: vwmin(3, pc, 3);
                        border-radius: vwmin(2, pc, 2);
                        background-color: #EBE9DF;
                        text-align: center;
                    }

                    .bl_caseList_item_caseInfo_item_dd {
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.28px / 14);
                    }
                }
            }
        }
    }
}



/* ------------------------------------------------------------
お悩みから探す
------------------------------------------------------------ */

//お悩みから探す
.bl_topMenuSec_problemContainer {

    .bl_topMenuSec_problemContainer_ttlContainer {
        border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
        padding-bottom: vwmin(20, pc, 20);
        margin-bottom: vwmin(40, pc, 40);

        .el_topMenuSec_problemContainer_ttl {
            font-family: "Shippori Mincho";
            font-size: vwmin(20, pc, 20);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(0.8px / 20);
        }
    }

    .bl_topMenuSec_problemContainer_problemList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(vwmin(340, pc, 340), 100%), 1fr));
        gap: vwmin(20, pc, 20);




        .bl_topMenuSec_problemContainer_problemList_item {
            display: contents;
        }

        .bl_topMenuSec_problemContainer_problemList_item_btn {
            display: grid;
            grid-template-columns: 1fr;
            gap: vwmin(16, pc, 16);
            border-radius: vwmin(12, pc, 12);
            background-color: var(--white-bg);
            box-shadow: 0px 0px 6px 0px rgba(41, 25, 10, 0.10);
            aspect-ratio: 340 / 235;
            height: auto;
            padding: vwmin(20, pc, 20);
            min-height: vwmin(235, pc, 235);
            transition: all 0.3s var(--reverseTransition);

            @include underTB {
                aspect-ratio: auto;
                min-height: auto;
            }


            .bl_topMenuSec_problemContainer_problemList_item_btn_imgContainer {
                display: grid;
                grid-template-columns: vwmin(80, pc, 80) 1fr;
                align-items: center;
                gap: vwmin(16, pc, 16);

                .bl_topMenuSec_problemContainer_problemList_item_btn_imgContainer_img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                    border-radius: vwmin(8, pc, 8);
                }

                .bl_topMenuSec_problemContainer_problemList_item_btn_imgContainer_ttl {
                    color: var(--black);
                    font-family: "Shippori Mincho";
                    font-size: vwmin(16, pc, 16);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                    transition: all 0.3s var(--reverseTransition);
                    letter-spacing: calc(0.64px / 16);
                }
            }

            .bl_topMenuSec_problemContainer_problemList_item_btn_txt {
                font-size: vwmin(14, pc, 14);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(0.28px / 14);
            }

            @media (hover: hover) {
                &:hover {
                    background-color: #EBE9DF;
                    transition: all 0.3s var(--reverseTransition);

                    .bl_topMenuSec_problemContainer_problemList_item_btn_imgContainer_ttl {
                        color: var(--accentColor);
                        transition: all 0.3s var(--reverseTransition);
                    }

                    .bl_topMenuSec_problemContainer_problemList_item_btn_txt {
                        color: var(--accentColor);
                        transition: all 0.3s var(--reverseTransition);
                    }
                }
            }
        }
    }
}


/* ------------------------------------------------------------
施術メニュー
------------------------------------------------------------ */

.bl_menuListContainer {

    .bl_menuListContainer_tabContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background-color: #F2F1EC;
        padding: vwmin(6, pc, 6);
        border-radius: vwmin(8, pc, 8);
        margin-bottom: vwmin(56, pc, 56);

        .bl_menuListContainer_tabContainer_btn {
            color: var(--gray-txt, #999);
            text-align: center;
            font-family: "Shippori Mincho";
            font-size: vwmin(20, pc, 20);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(0.8px / 20);
            background-color: transparent;
            border: none;
            padding: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s var(--reverseTransition);
            z-index: 1;
            padding-top: vwmin(14, pc, 14);
            padding-bottom: vwmin(16, pc, 16);
            border-radius: vwmin(6, pc, 6);
        }

        .is_active {
            position: relative;
            color: #fff;
            transition: all 0.3s var(--reverseTransition);

            &::after {
                content: "";
                position: absolute;
                border-radius: vwmin(6, pc, 6);
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--accentColor);
                z-index: -1;
                transition: all 0.4s var(--reverseTransition);
            }
        }
    }

    .bl_menuListContainer_content {
        display: none;
    }

    .is_activeTab {
        display: block;
    }


    .bl_menuListContainer_menuList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(vwmin(235, pc, 235), 100%), 1fr));
        column-gap: vwmin(40, pc, 40);
        row-gap: vwmin(20, pc, 20);

        @include underTB {
            grid-template-columns: repeat(2,1fr);
        }

        .bl_menuListContainer_menuList_item {
            display: contents;

            .bl_menuListContainer_menuList_item_link {
                display: grid;
                grid-template-columns: 1fr vwmin(5, pc, 5);
                align-items: baseline;
                gap: vwmin(20, pc, 20);
                padding-bottom: vwmin(10, pc, 10);
                border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
                transition: all 0.3s var(--reverseTransition);

                @media (hover: hover) {
                    &:hover {
                        opacity: 0.5;
                        transition: all 0.3s var(--reverseTransition);
                    }
                }

                .bl_menuListContainer_menuList_item_link_ttl {
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.28px;
                }
            }
        }
    }
}


/* ------------------------------------------------------------
お知らせ
------------------------------------------------------------ */

.bl_newsList {
    display: flex;
    flex-flow: column;
    gap: vwmin(24, pc, 24);



    .bl_newsList_item {

        .bl_newsList_item_link {
            display: block;
            padding-bottom: vwmin(24, pc, 24);
            border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
            transition: all 0.3s var(--reverseTransition);

            @include underTB {
                padding-bottom: vwmin(20, pc, 20);
            }


            .bl_newsList_item_link_infoContainer {
                display: grid;
                grid-template-columns: max-content max-content;
                gap: vwmin(12, pc, 12);
                align-items: center;
                margin-bottom: vwmin(12, pc, 12);
                transition: all 0.3s var(--reverseTransition);

                @include underTB {
                    margin-bottom: vwmin(8, pc, 8);
                }
                

                .bl_newsList_item_link_infoContainer_date {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: calc(0.56px / 14);
                }

                .bl_newsList_item_link_infoContainer_clinic {
                    font-size: vwmin(12, pc, 12);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.48px / 12);
                    padding-inline: vwmin(8, pc, 8);
                    padding-top: vwmin(2, pc, 2);
                    padding-bottom: vwmin(3, pc, 3);
                    background-color: #E0DDD0;
                    border-radius: vwmin(2, pc, 2);
                }
            }

            .bl_newsList_item_link_ttl {
                font-size: vwmin(16, pc, 16);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(0.32px / 16);
            }


            @media (hover: hover) {
                &:hover {
                    transition: all 0.3s var(--reverseTransition);
                    border-bottom: vwmin(1, pc, 1) solid var(--baseFontColor);

                    .bl_newsList_item_link_infoContainer_date {
                        color: var(--accentColor);
                        transition: all 0.3s var(--reverseTransition);

                    }

                    .bl_newsList_item_link_ttl {
                        transition: all 0.3s var(--reverseTransition);
                        color: var(--accentColor);
                    }

                }
            }
        }
    }
}

.bl_topNewsSec_noNewsContainer {
    display: grid;
    place-items: center;
    height: 100%;

    .bl_topNewsSec_noNewsContainer_txt {
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 400;
    }
}


/* ------------------------------------------------------------
トピックス
------------------------------------------------------------ */

.bl_topicsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vwmin(20, pc, 20);

    .bl_topicsList_item {
        display: contents;
    }

    .bl_topicsList_item_link {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 2;
        grid-template-columns: 1fr;
        gap: vwmin(24, pc, 24);
        overflow: hidden;
        border-radius: vwmin(12, pc, 12);


        .bl_topicsList_item_link_imgContainer {
            width: 100%;
            aspect-ratio: 340/227;
            object-fit: cover;
            overflow: hidden;
            border-radius: vwmin(12, pc, 12);

            .bl_topicsList_item_link_img {
                height: auto;
                width: 100%;
                aspect-ratio: 340/227;
                object-fit: cover;
                transition: all 0.4s var(--reverseTransition);
            }
        }


        .bl_topicsList_item_link_infoContainer {

            .bl_topicsList_item_link_info {
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: vwmin(12, pc, 12);
                align-items: baseline;
                margin-bottom: vwmin(12, pc, 12);

                .bl_topicsList_item_link_info_date {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1;
                    letter-spacing: calc(0.56px / 14);
                }

                .bl_topicsList_item_link_info_termContainer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: vwmin(6, pc, 6);

                    .bl_topicsList_item_link_info_term {
                        width: fit-content;
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.48px / 12);
                        background-color: var(--white-bg);
                        padding-inline: vwmin(8, pc, 8);
                        padding-top: vwmin(2, pc, 2);
                        padding-bottom: vwmin(3, pc, 3);
                        border-radius: vwmin(2, pc, 2);
                    }
                }
            }

            .el_topicsList_item_link_ttl {
                font-size: vwmin(16, pc, 16);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(0.32px / 16);
            }
        }

        @media (hover: hover) {
            &:hover {
                transition: all 0.4s var(--reverseTransition);

                .bl_topicsList_item_link_img {
                    transform: scale(1.08);
                    transition: all 0.4s var(--reverseTransition);
                }
            }
        }
    }
}


/* ------------------------------------------------------------
クリニック案内
------------------------------------------------------------ */




.bl_clinicList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: vwmin(20, pc, 20);


    .bl_clinicList_item {
        background-color: var(--white-bg);
        border-radius: vwmin(12, pc, 12);
        padding: vwmin(20, pc, 20);
        display: flex;
        flex-direction: column;
        gap: vwmin(20, pc, 20);
        box-shadow: 0px 0px vwmin(6, pc, 6) 0px rgba(41, 25, 10, 0.10);

        @include underTB {
            display: grid;
            grid-template-columns: 1fr;
        }

    }


    .bl_clinicList_item_upper {
        display: flex;
        gap: vwmin(8, pc, 8);
        align-items: center;
        justify-content: space-between;

        @include underTB {
            display: none;
        }
    }


    .bl_clinicList_item_ttl {
        font-family: "Shippori Mincho";
        font-size: vwmin(18, pc, 18);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: calc(0.72px / 18);
    }

    .bl_clinicSnsContainer {
        width: fit-content;
        display: flex;
        gap: vwmin(12, pc, 12);
        align-items: center;
        justify-content: flex-end;

        .bl_clinicSnsContainer_btn {
            display: grid;
            place-items: center;
            grid-template-columns: vwmin(18, pc, 18);
            justify-content: center;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-color: #E0DDD0;
            transition: all 0.3s var(--reverseTransition);
            padding: vwmin(10, pc, 10);
            max-width: vwmin(38, pc, 38);

            @include underTB {
                max-width: vwmin(32, pc, 32);
            }

            svg {
                display: grid;
                place-items: center;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
            }

            @media (hover: hover) {
                &:hover {
                    background-color: var(--accentColor);
                    transition: all 0.3s var(--reverseTransition);

                    svg {
                        transition: all 0.3s var(--reverseTransition);
                        fill: #fff;

                        path {
                            transition: all 0.3s var(--reverseTransition);
                            fill: #fff;
                        }

                    }
                }
            }
        }
    }

    .bl_clinicList_item_lower {
        display: grid;
        grid-template-columns: vwmin(190, pc, 190) 1fr;
        gap: vwmin(16, pc, 16);

        @include underTB {
            grid-template-columns: 1fr;
        }


        .bl_clinicList_item_imgContainer {
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: contain;
            border-radius: vwmin(10, pc, 10);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bl_clinicList_item_lower_sp{
            @include underTB {
                display: grid;
                grid-template-columns: vwmin(100, pc,100) 1fr;
                gap: vwmin(16, pc, 16);
                align-items: center;
            }
        }

        .bl_clinicList_item_lower_sp_right{
            display: none;

            @include underTB {
                display: flex;
                flex-flow: column;
                gap: vwmin(12, pc, 12);
            }
        }

        .bl_clinicList_item_infoContainer {
            display: flex;
            flex-direction: column;
            gap: vwmin(14, pc, 14);
            margin-bottom: vwmin(14, pc, 14);

            .bl_clinicList_item_infoContainer_item {
                display: grid;
                align-items: flex-start;
                grid-template-columns: vwmin(16, pc, 16) 1fr;
                gap: vwmin(6, pc, 6);

                .el_clinicList_item_infoContainer_item_icon {
                    display: block;
                    width: 100%;
                    padding-top: vwmin(2, pc, 2);
                }

                .bl_clinicList_item_infoContainer_item_content {
                    display: flex;
                    flex-direction: column;
                    gap: vwmin(6, pc, 6);

                    .el_clinicList_item_infoContainer_item_txt {
                        font-size: vwmin(14, pc, 14);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.28px / 14);
                    }

                    .el_clinicList_item_infoContainer_item_tell {
                        transition: all 0.3s var(--reverseTransition);

                        @media (hover: hover) {
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }


                //googlemap
                .bl_clinicList_item_infoContainer_item_link {
                    display: grid;
                    grid-template-columns: max-content vwmin(4, pc, 14);
                    align-items: center;
                    transition: all 0.3s var(--reverseTransition);
                    gap: vwmin(8, pc, 8);


                    .el_clinicList_item_infoContainer_item_link_txt {
                        width: fit-content;
                        color: #999;
                        font-size: vwmin(14, pc, 14);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.28px / 14);
                    }

                    .el_clinicList_item_infoContainer_item_link_icon {
                        display: block;
                        padding-top: vwmin(4, pc, 4);
                    }

                    @media (hover: hover) {
                        &:hover {
                            opacity: 0.5;
                            transition: all 0.3s var(--reverseTransition);
                        }
                    }
                }
            }
        }
    }

    .bl_clinicList_item_link {
        display: grid;
        grid-template-columns: auto vwmin(26, pc, 26);
        align-items: center;
        gap: vwmin(8, pc, 8);
        width: fit-content;
        margin-left: auto;

        .el_clinicList_item_link_txt {
            width: fit-content;
            font-size: vwmin(14, pc, 14);
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: calc(0.56px / 14);
        }

        .el_clinicList_item_link_icon {
            background-color: var(--accentColor);
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            display: grid;
            grid-template-columns: vwmin(10, pc, 10);
            align-items: center;
            justify-content: center;
            border: vwmin(1, pc, 1) solid transparent;
            transition: all 0.3s var(--reverseTransition);


            svg {
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
                transition: all 0.3s var(--reverseTransition);

            }
        }


        @media (hover: hover) {
            &:hover {
                transition: all 0.3s var(--reverseTransition);
                color: var(--accentColor);

                .el_clinicList_item_link_icon {
                    background-color: #fff;
                    transition: all 0.3s var(--reverseTransition);
                    border: vwmin(1, pc, 1) solid var(--accentColor);

                    svg {
                        path {
                            transition: all 0.3s var(--reverseTransition);
                            fill: var(--accentColor);
                        }
                    }
                }
            }
        }
    }
}


.bl_commonBreadcrumbList {
    display: flex;
    align-items: center;
    gap: vwmin(8, pc, 8);
    flex-wrap: nowrap;

    .bl_commonBreadcrumbItem {

        .el_commonBreadcrumbItem_link {
            display: block;
            color: var(--baseFontColor);
            font-size: vwmin(12, pc, 12);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.24px / 12);
            word-break: keep-all;
            white-space: nowrap;
            transition: all 0.3s var(--reverseTransition);

            @media (hover: hover) {
                &:hover {
                    opacity: 0.5;
                    transition: all 0.3s var(--reverseTransition);
                }
            }
        }

        .el_commonBreadcrumbItem_img {
            max-width: vwmin(7, pc, 7);
        }

        .el_commonBreadcrumbItem_txt {
            display: block;
            color: #999;
            font-size: vwmin(12, pc, 12);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(0.24px / 12);
        }

    }
}