.bl_menuCaseSec {
  &_splide {
    &.is-single-slide {
      .splide__track {
        overflow: visible;
      }
      .splide__list {
        display: block;
      }
      .splide__slide {
        width: 100% !important;
      }
    }

    .splide__arrow {
      background: rgba(255, 255, 255, 0.9);
      width: 3rem;
      height: 3rem;
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }

    .splide__slide {
      opacity: 0.5;
      transition: opacity 0.3s;

      &.is-active {
        opacity: 1;
      }
    }
  }
} 