@use '../../foundation/function/index' as *;


.ly_articlePage {

    .bl_articlePage_contents {
        padding-top: vwmin(120, pc, 120);
        padding-bottom: vwmin(140, pc, 140);
        padding-inline: vwmin(20, pc, 20);

        @include underTB {
            padding-top: vwmin(60, pc, 60);
            padding-bottom: vwmin(70, pc, 70);
        }

        .bl_articlePage_inner_inner {
            max-width: vwmin(880, pc, 880);
            margin-inline: auto;
        }
    }
}

.bl_articlePage_article {
    h2 {
        position: relative;
        color: var(--baseFontColor);
        font-family: "Shippori Mincho";
        font-size: vwmin(24, pc, 24);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.0267em;
        padding-bottom: vwmin(12, pc, 12);
        border-bottom: vwmin(2, pc, 2) solid var(--line);

        &::before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            height: vwmin(2, pc, 2);
            width: 100%;
            max-width: vwmin(100, pc, 100);
            translate: 0 vwmin(2, pc, 2);
            background-color: var(--lineText);
        }

        &:not(:first-child) {
            margin-top: vwmin(48, pc, 48);
        }
    }

    h3 {
        color: var(--baseFontColor);
        font-family: "Shippori Mincho";
        font-size: vwmin(20, pc, 20);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: calc(0.8px / 20);
        padding-left: vwmin(13, pc, 13);
        border-left: vwmin(3, pc, 3) solid var(--lineText);

        &:not(:first-child) {
            margin-top: vwmin(44, pc, 44);
        }
    }

    h4 {
        font-family: "Shippori Mincho";
        font-size: vwmin(18, pc, 18);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: calc(18 * 0.0072);
        background-color: #E0DDD0;
        border-radius: vwmin(2, pc, 2);
        padding-inline: vwmin(12, pc, 12);
        padding-top: vwmin(6, pc, 6);
        padding-bottom: vwmin(8, pc, 8);

        &:not(:first-child) {
            margin-top: vwmin(36, pc, 36);
        }
    }

    p {
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: calc(0.32px / 16);

        &:not(:first-child) {
            margin-top: vwmin(20, pc, 20);
        }
    }

    hr {

        &:not(:first-child) {
            margin-top: vwmin(40, pc, 40);
        }
    }

    em {
        color: var(--baseFontColor);
        font-size: vwmin(14, pc, 14);
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: calc(0.28px / 14);

        &:not(:first-child) {
            margin-top: vwmin(10, pc, 10);
        }
    }

    .wp-block-list {
        &:not(:first-child) {
            margin-top: vwmin(20, pc, 20);
        }

        li {
            position: relative;
            padding-left: vwmin(13, pc, 13);
            color: var(--baseFontColor);
            font-size: vwmin(16, pc, 16);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.32px / 16);


            &::before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                top: vwmin(12, pc, 12);
                width: vwmin(5, pc, 5);
                height: vwmin(5, pc, 5);
                background-color: var(--baseFontColor);
                border-radius: 100%;
            }
        }
    }

    .is-style-checklist {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(vwmin(300, pc, 300), 100%), 1fr));
        row-gap: vwmin(12, pc, 12);
        column-gap: vwmin(32, pc, 32);

        &:not(:first-child) {
            margin-top: vwmin(30, pc, 30);
        }

        li {
            position: relative;
            padding-left: vwmin(24, pc, 24);
            color: var(--baseFontColor);
            font-size: vwmin(16, pc, 16);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(0.32px / 16);


            &::before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                top: vwmin(5, pc, 5);
                width: vwmin(18, pc, 18);
                height: vwmin(18, pc, 18);
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                background-image: url("img/common/check-list-icon.svg");
                background-color: transparent;
            }
        }
    }

    .is-style-image-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(vwmin(200, pc, 200), 100%), 1fr));
        row-gap: vwmin(20, pc, 20);
        column-gap: vwmin(32, pc, 32);

        &:not(:first-child) {
            margin-top: vwmin(36, pc, 36);
        }

        li {
            display: grid;
            grid-template-columns: vwmin(80, pc, 80) 1fr;
            gap: vwmin(14, pc, 14);
            align-items: center;
            padding-left: 0;

            &::before {
                content: "";
                display: none;
            }

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                border-radius: vwmin(4, pc, );
                object-fit: cover;
            }

            strong {
                display: block;
                font-weight: 400;
            }
        }
    }

    ol {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: vwmin(24, pc, 24);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: vwmin(20, pc, 20);
            top: 0;
            width: vwmin(1, pc, 1);
            height: 87%;
            border-left: 1px dashed var(--baseFontColor);
            z-index: 1;
            translate: 0px 0;
            z-index: -1;

            @include underTB {
                height: 85%;
            }
        }

        li {
            position: relative;
            counter-increment: list-item;
            padding-top: vwmin(6, pc, 6);
            padding-left: vwmin(56, pc, 56) !important;

            &:before {
                display: none !important;
            }

            &:after {
                content: counter(list-item, decimal-leading-zero) !important;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--baseFontColor);
                color: var(--white-txt, #FFF);
                font-family: "Shippori Mincho";
                font-size: vwmin(18, pc, 18);
                font-style: normal;
                font-weight: 400;
                line-height: .8;
                letter-spacing: calc(18px * 0.0072);
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: vwmin(40, pc, 40);
            }

            strong {
                color: var(--baseFontColor);
                font-family: "Shippori Mincho";
                font-size: vwmin(18, pc, 18);
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(18 * 0.0072);
            }
        }
    }

    figure {

        &:not(:first-child) {
            margin-top: vwmin(36, pc, 36);
        }

        img {
            border-radius: vwmin(4, pc, 4);
            width: 100%;
        }

        figcaption {
            font-size: vwmin(14, pc, 14);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(14 * 0.0072);
            margin-top: vwmin(10, pc, 10);
        }
    }


    .wp-block-flexible-table-block-table {
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: calc(16 * 0.0072);

        th {
            background-color: var(--baseFontColor) !important;
            width: vwmin(160, pc, 160) !important;
            color: #fff !important;
            border-color: #CCC8B9 !important;
            padding: vwmin(10, pc, 10) !important;

            @include underTB {
                width: vwmin(140, pc, 140) !important;
            }
        }

        td {
            border-color: #CCC8B9 !important;
            padding: vwmin(10, pc, 10) !important;
        }
    }

    .wp-block-embed__wrapper {
        iframe {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 16/9;
        }
    }

    a {
        color: var(--baseFontColor);
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: calc(16 * 0.0072);
        text-decoration: underline;
        text-underline-offset: vwmin(1, pc, 1);
        text-decoration-thickness: vwmin(1, pc, 1);
        text-decoration-color: var(--baseFontColor);
        transition: opacity 0.3s ease-in-out;


        @media (hover: hover) {
            &:hover {
                opacity: 0.5;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }


    .is-style-white-bg-group {
        position: relative;
        flex-flow: column;
        gap: vwmin(20, pc, 20);
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding-block: vwmin(20, pc, 20);
        padding-inline: vwmin(20, pc, 20);
        border-radius: vwmin(8, pc, 8);
        margin-top: vwmin(30, pc, 30);

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: calc(100% - vwmin(16, pc, 16));
            height: calc(100% - vwmin(16, pc, 16));
            border: vwmin(1, pc, 1) solid #EBE9DF;
            border-radius: vwmin(6, pc, 6);
            z-index: 0;
        }

        mark {
            font-weight: 700;
            line-height: 1.8;
            background: linear-gradient(0deg, #E0DDD0 35%, transparent 0%);
        }

        a {
            position: relative;
            display: grid;
            grid-template-columns: auto vwmin(5, pc, 5);
            align-items: center;
            justify-content: space-between;
            gap: vwmin(6, pc, 6);
            color: var(--baseFontColor);
            font-size: vwmin(14, pc, 14);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(14 * 0.02);
            border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
            padding-bottom: vwmin(10, pc, 10);
            text-decoration: none;
            width: 100%;
            max-width: vwmin(230, pc, 230);
            margin-inline: auto;
            z-index: 1;

            &:after {
                content: "";
                position: relative;
                width: 100%;
                min-width: vwmin(8, pc, 8);
                height: auto;
                aspect-ratio: 1/1;
                background-image: url("img/common/open-arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                transition: opacity 0.3s var(--reverseTransition);

                @media (hover: hover) {
                    &:hover {
                        opacity: .5;
                        transition: opacity 0.3s var(--reverseTransition);
                    }
                }
            }
        }

        p {
            text-align: center;
            width: 100%;
            margin-top: 0;
            position: relative;
            z-index: 1;
        }
    }
}



/*  ------------------------------
監修者
------------------------------*/

.bl_supervisorProfile {
    width: 100%;
    border-radius: vwmin(8, pc, 8);
    background-color: #FBFAF9;
    padding: vwmin(30, pc, 30);
    margin-top: vwmin(36, pc, 36);

    .bl_supervisorProfile_inner {
        display: flex;
        flex-flow: column;
        gap: vwmin(24, pc, 24);

        .bl_supervisorProfile_inner_imgContainer {
            display: grid;
            grid-template-columns: vwmin(80, pc, 80) 1fr;
            gap: vwmin(10, pc, 10);
            align-items: center;

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 100%;
            }
        }


        .bl_supervisorProfile_inner_ttl {
            display: flex;
            flex-flow: column;
            gap: vwmin(6, pc, 6);

            .bl_supervisorProfile_inner_ttl_txt {
                font-size: vwmin(12, pc, 12);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(12 * 0.02);
            }

            .bl_supervisorProfile_inner_ttl_info {
                display: flex;
                align-items: flex-end;
                gap: vwmin(8, pc, 8);

                .el_supervisorProfile_inner_ttl_info_job {
                    font-size: vwmin(14, pc, 14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(14 * 0.02);
                }

                .el_supervisorProfile_inner_ttl_info_name {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(20, pc, 20);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.4;
                    letter-spacing: calc(20 * .02);
                }
            }
        }

        .bl_supervisorProfile_inner_txtContainer {
            font-size: vwmin(16, pc, 16);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(16 * 0.02);
        }

        .bl_supervisorProfile_inner_linkContainer {
            width: fit-content;
            margin-left: auto;
        }
    }
}


/*  ------------------------------
記事ナビゲーション
------------------------------*/
.bl_naviContainer {
    position: sticky;
    top: vwmin(120, pc, 120);
    height: fit-content;

    @include underTB {
        position: relative;
        top: 0;
    }

    .bl_naviContainer_ttlContainer {
        display: none;

        @include underTB {
            display: block;
            margin-bottom: vwmin(32, pc, 32);

            .bl_naviContainer_ttlContainer_ttl {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                gap: vwmin(6, pc, 6);
                color: var(--baseFontColor);
                font-family: Marcellus;
                font-size: vwmin(24, pc, 24);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.0267em;

                &::after {
                    content: "";
                    position: relative;
                    display: block;
                    height: vwmin(1, pc, 1);
                    width: 100%;
                    background-color: var(--baseFontColor);
                }
            }
        }
    }

    .bl_naviContainer_list {
        display: flex;
        flex-flow: column;
        gap: vwmin(10, pc, 10);

        @include underTB {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(vwmin(180, pc, 180), 100%), 1fr));
            gap: vwmin(20, pc, 20);
        }

        .el_naviContainer_list_btn {
            display: grid;
            grid-template-columns: vwmin(6, pc, 6) auto;
            gap: vwmin(6, pc, 6);
            align-items: baseline;
            color: #999;
            font-size: vwmin(12, pc, 12);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(12 * 0.02);
            transition: color 0.3s var(--reverseTransition);

            @include underTB {
                display: grid;
                grid-template-columns: auto vwmin(8, pc, 8);
                align-items: center;
                color: var(--baseFontColor);
                font-family: "Noto Sans JP";
                font-size: vwmin(12, pc, 12);
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(12 * 0.02);
                padding-bottom: vwmin(6, pc, 6);
                border-bottom: vwmin(1, pc, 1) solid #CCC8B9;

                &::after {
                    content: "";
                    position: relative;
                    width: 100%;
                    min-height: vwmin(4, pc, 4);
                    background-image: url("img/common/red-arrow.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }

            &::before {
                content: "";
                display: block;
                width: vwmin(6, pc, 6);
                height: vwmin(6, pc, 6);
                background-color: var(--lineText);
                border-radius: 100%;
                opacity: 0;
                transition: opacity 0.3s var(--reverseTransition);

                @include underTB {
                    display: none;
                }
            }
        }

        .is_naviContainer_list_btn_active {
            color: var(--baseFontColor);
            transition: color 0.3s var(--reverseTransition);

            &::before {
                opacity: 1;
                transition: opacity 0.3s var(--reverseTransition);

            }
        }
    }
}




:where(.bl_articlePage_article) {

    .bl_menuPostPriceSec {
        display: flex;
        flex-flow: column;
        gap: vwmin(36, pc, 36);
        margin-top: vwmin(32, pc, 32);
    }

    .bl_priceListContainer_priceList_smallList {
        display: flex;
        flex-flow: column;
        gap: vwmin(30, pc, 30);


        .bl_priceListContainer_priceList_smallist_item {

            .el_priceListContainer_priceList_smallList_post_ttl {
                border-left: vwmin(1, pc, 1) solid #9E586C;
                padding-left: vwmin(16, pc, 16);
                color: var(--baseFontColor);
                font-family: "Shippori Mincho";
                font-size: vwmin(20, pc, 20);
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(0.8 / 20 * 1em);
                margin-bottom: vwmin(20, pc, 20);
            }
        }
    }


    /*  ------------------------------
    価格表
    ------------------------------*/
    .bl_priceTableList {
        display: flex;
        flex-flow: column;
        gap: vwmin(20, pc, 20);
        background-color: #fff;
        padding: vwmin(20, pc, 20);
        border-radius: vwmin(8, pc, 8);

        .bl_priceTableList_item {
            display: flex;
            flex-flow: column;
            gap: vwmin(20, pc, 20);
            padding-bottom: vwmin(20, pc, 20);
            border-bottom: vwmin(1, pc, 1) solid #CCC8B9;

            @include underTB {
                gap: vwmin(8, pc, 8);
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            .bl_priceTableList_item_innerContainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: vwmin(20, pc, 20);

                @include underTB {
                    display: flex;
                    flex-flow: column;
                    gap: vwmin(16, pc, 16);
                }

                .bl_priceTableList_item_innerContainer_left {

                    .el_priceTableList_item_innerContainer_left_txt {
                        color: var(--baseFontColor);
                        font-size: vwmin(16, pc, 16);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.5;
                    }
                }

                .bl_priceTableList_item_innerContainer_right {
                    display: flex;
                    flex-flow: column;
                    gap: vwmin(8, pc, 8);
                    color: var(--baseFontColor);
                    text-align: right;
                    font-size: vwmin(16, pc, 16);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    order: 2;



                    .bl_priceTableList_item_innerContainer_right_container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: vwmin(8, pc, 8);
                    }

                    .bl_priceTableList_item_innerContainer_right_container_table {
                        display: grid;
                        grid-template-columns: vwmin(80, pc, 80) 1fr;
                        gap: vwmin(8, pc, 8);

                        @include underTB {
                            display: flex;
                            justify-content: flex-end;
                        }

                        .el_priceTableList_item_innerContainer_right_txtContainer_view {
                            @include underTB {
                                min-width: vwmin(80, pc, 80);
                                width: 100%;
                                text-align: right;
                            }
                        }

                        .bl_priceTableList_item_innerContainer_right_txtContainer_num {
                            @include underTB {
                                max-width: vwmin(80, pc, 80);
                                width: 100%;
                            }
                        }
                    }

                    .bl_priceTableList_item_innerContainer_right_txtContainer {
                        @include underTB {
                            &:first-child {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }

    /*  ------------------------------
    症例
    ------------------------------*/
    .bl_menuCaseSec {
        width: 100%;
        max-width: 100%;
        margin-top: vwmin(36, pc, 36);

        .bl_menuCaseSec_splide {
            position: relative;
            padding-bottom: vwmin(70, pc, 70);
        }

        .splide {
            overflow: visible;
        }

        .splide__track {
            overflow: visible;
            position: unset;
        }

        .splide__slide {
            max-width: vwmin(340, pc, 340) !important;
            overflow: visible;
        }

        .splide__arrows {
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: vwmin(24, pc, 24);
        }

        .splide__arrow {
            position: relative;
            top: auto;
            left: auto;
            translate: 0 0;
            transform: translateY(0%);
            width: 100%;
            height: auto;
            background-color: var(--baseFontColor);
            border: none;
            border-radius: 100%;
            color: var(--white-bg);
            opacity: 1;
            padding: 0;
            margin: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: vwmin(40, pc, 40);
            aspect-ratio: 1/1;
        }

        .splide__pagination {
            position: relative;
            width: fit-content;
            display: flex;
            gap: vwmin(10, pc, 10);
            justify-content: center;
            align-items: center;
            padding: 0;
            bottom: auto;

            .splide__pagination__page.is-active {
                background-color: var(--baseFontColor);
            }

            .splide__pagination__page {
                background-color: #CCC8B9;
            }
        }

        .splide__arrow--prev {

            svg {
                rotate: 180deg;
            }
        }

        .splide__arrow--next {
            right: auto;
            transform: translateY(0%);
        }

        .bl_caseList_item_btn {
            display: grid;
            grid-template-rows: subgrid;
            max-width: vwmin(340, pc, 340);
            grid-row: span 3;
            grid-template-columns: 1fr;
            gap: vwmin(20, pc, 20);
            border-radius: vwmin(16, pc, 16);
            overflow: hidden;
            padding: vwmin(20, pc, 20);
            background-color: var(--white-bg);
            box-shadow: 0px 0px vwmin(6, pc, 6) 0px rgba(41, 25, 10, 0.10);
            border: vwmin(3, pc, 3) solid transparent;
            transition: all 0.3s var(--reverseTransition);
            text-decoration: none;

            @media (hover :hover) {
                &:hover {
                    transition: all 0.3s var(--reverseTransition);
                    border: vwmin(3, pc, 3) solid var(--accentColor);
                }
            }

            //画像
            .bl_caseList_item_imgContainer {
                width: 100%;
                aspect-ratio: 1/1;

                .bl_caseList_item_imgContainer_img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            //タイトル
            .bl_caseList_item_txtContainer {

                .bl_bl_caseList_item_txtContainer_tagList {
                    display: flex;
                    flex-wrap: wrap;
                    gap: vwmin(8, pc, 8);
                    margin-bottom: vwmin(4, pc, 4);

                    .el_caseList_item_txtContainer_tagList_item {
                        color: #999;
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.24px / 12);
                    }
                }

                .bl_caseList_item_txtContainer_ttl {
                    font-family: "Shippori Mincho";
                    font-size: vwmin(20, pc, 20);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: calc(0.8px / 20);
                    margin-top: 0;
                }
            }

            //症例情報
            .bl_caseList_item_caseInfo {
                display: flex;
                flex-flow: column;
                gap: vwmin(10, pc, 10);

                .bl_caseList_item_caseInfo_item {
                    display: grid;
                    grid-template-columns: vwmin(100, pc, 100) 1fr;
                    gap: vwmin(10, pc, 10);
                    align-items: baseline;

                    .bl_caseList_item_caseInfo_item_dt {
                        color: #333;
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.24px / 12);
                        padding-block: vwmin(3, pc, 3);
                        padding-inline: vwmin(3, pc, 3);
                        border-radius: vwmin(2, pc, 2);
                        background-color: #EBE9DF;
                        text-align: center;
                        text-decoration: none;
                    }

                    .bl_caseList_item_caseInfo_item_dd {
                        font-size: vwmin(12, pc, 12);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.28px / 14);
                    }
                }
            }
        }


    }

    /*  ------------------------------
    よくある質問
    ------------------------------*/
    .bl_menuFaqSec {
        margin-top: vwmin(36, pc, 36);

        .bl_commonfaqList {
            display: flex;
            flex-flow: column;
            gap: vwmin(20, pc, 20);

            .bl_commonfaqList_item {
                border-bottom: vwmin(1, pc, 1) solid #CCC8B9;

                summary::-webkit-details-marker {
                    display: none;
                }

                .bl_commonfaqList_item_details {
                    padding-bottom: vwmin(20, pc, 20);
                    padding-inline: vwmin(20, pc, 20);

                    @include underTB {
                        padding-inline: vwmin(8, pc, 8);
                    }

                }
            }
        }

        .bl_commonfaqList_item_details_summary {
            display: grid;
            grid-template-columns: auto 1fr vwmin(20, pc, 20);
            gap: vwmin(10, pc, 10);
            align-items: baseline;
            justify-content: space-between;
            cursor: pointer;

            .el_commonfaqList_item_details_summary_q {
                display: block;
                color: var(--lineText);
                font-family: Marcellus;
                font-size: vwmin(22, pc, 22);
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: calc(22 * 0.0072);

            }

            .el_commonfaqList_item_details_summary_ttl {
                display: block;
                color: var(--baseFontColor);
                font-family: "Shippori Mincho";
                font-size: vwmin(18, pc, 18);
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(18 * 0.0072);
            }

            .el_commonfaqList_item_details_summary_icon {
                position: relative;
                display: block;
                height: auto;
                width: vwmin(20, pc, 20);
                aspect-ratio: 1/1;
                border-radius: 0;
                transition: rotate 0.3s var(--reverseTransition);

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    height: vwmin(1, pc, 1);
                    background-color: var(--lineText);
                    transition: rotate 0.3s var(--reverseTransition);

                }

                &::after {
                    rotate: -90deg;
                }
            }

            .is_open {
                transition: rotate 0.3s var(--reverseTransition);

                &::after {
                    rotate: 0deg;
                    transition: rotate 0.3s var(--reverseTransition);

                }
            }
        }

        .bl_commonfaqList_item_details_panel {

            .bl_commonfaqList_item_details_panel_inner {
                padding-top: vwmin(20, pc, 20);
                color: var(--baseFontColor);
                font-size: vwmin(16, pc, 16);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(16 * 0.0072);
            }

        }
    }

    /*  ------------------------------
    画像付きリスト
    ------------------------------*/
    .bl_menuImgDetailsSec {
        .bl_immgDetailsList {

            .bl_commonfaqList_item_details_summary {
                display: grid;
                grid-template-columns: 1fr vwmin(20, pc, 20);
            }



            .bl_commonfaqList_item_details_panel_inner {
                display: flex;
                align-items: flex-start;
                gap: vwmin(20, pc, 20);

                @include underTB {
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                }

                .bl_commonfaqList_item_details_panel_imgBlock {
                    width: 100%;
                    max-width: vwmin(200, pc, 200);

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .bl_commonfaqList_item_details_panel_txtBlock {
                    width: 100%;
                }
            }
        }
    }

}