@use '../../foundation/function/index' as *;


//single_pg_clinic

.single_pg_clinic {

    .ly_commonContantsBgItemContainer .ly_commonContantsBgItemContainer_item img {}

    .ly_commonContantsOuter_inner {
        padding-left: vwmin(40, pc, 40);
        padding-right: vwmin(40, pc, 40);
        box-sizing: content-box;

        @media (max-width: 767px) {
            padding-left: vwmin(20, sp, 20);
            padding-right: vwmin(20, sp, 20);
        }
    }



    .ly__noCnt {
        p {
            font-size: vwmin(24, pc, 24);
            font-weight: 400;
            font-family: "Shippori Mincho";
            line-height: 1.6;
            text-align: center;
            margin-top: vwmin(100, pc, 100);
            margin-bottom: vwmin(100, pc, 100);
        }
    }

    .ly_main {
        .un_clinic {
            overflow: hidden;

            .el_pageTtlPost_inner {
                max-width: max(1060px, 73.6111111111vw);
                margin-inline: auto;
                padding-left: vwmin(40, pc, 40);
                padding-right: vwmin(40, pc, 40);
                box-sizing: content-box;
                margin-bottom: vwmin(80, pc, 80);

                @media (max-width: 1140px) {
                    box-sizing: border-box;
                }

                @media (max-width: 767px) {
                    padding-left: vwmin(20, sp, 20);
                    padding-right: vwmin(20, sp, 20);
                    margin-bottom: vwmin(40, sp, 40);
                }

                .el_pageTtlPost_sub {
                    display: inline-block;
                    font-size: vwmin(28, pc, 28);
                    font-weight: 400;
                    font-family: "Shippori Mincho";
                    line-height: 1.6;
                    background: #CA768E;
                    background: linear-gradient(90deg, rgba(202, 118, 142, 1) 0%, rgba(51, 51, 51, 1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: vwmin(4, pc, 4);

                    @media (max-width: 650px) {
                        font-size: vwmin(18, sp, 20);
                    }

                }

                .el_pageTtlPost_ja {
                    margin: 0 auto;
                    font-size: vwmin(44, pc, 44);
                    font-weight: bold;
                    line-height: 1.5;
                    color: var(--black, #333);
                    font-family: "Shippori Mincho";

                    @media (max-width: 650px) {
                        font-size: vwmin(32, sp, 32);
                    }

                    @media (max-width: 400px) {
                        font-size: vwmin(28, pc, 28);
                    }
                }
            }

            .ly_commonContantsOuter_inner {
                max-width: max(1060px, 73.6111111111vw);
                margin-inline: auto;
            }

            .ly_0uter {

                .ly_topRecommendSec {
                    background-color: unset !important;
                }

                section {
                    padding: 120px 0;

                    @media (max-width: 767px) {
                        padding: vwmin(60, sp, 60) 0;
                    }
                }

                &:nth-child(2n+1) {

                    .ly_topRecommendSec {
                        padding: vwmin(80, pc, 80) 0 vwmin(100, pc, 100);
                        background-color: var(--white-bg) !important;

                        @media (max-width: 767px) {
                            padding: vwmin(40, sp, 40) 0 vwmin(60, sp, 60);

                        }
                    }
                }

                .ly_message {

                    .ly_commonContantsOuter_inner {
                        .bl_messageCnt {
                            .bl_messageCnt_item {
                                margin-bottom: vwmin(180, pc, 180);
                                display: flex;
                                gap: 8%;

                                @media (max-width: 1024px) {
                                    gap: 0%;
                                    display: block;
                                    margin-bottom: vwmin(62, sp, 62);
                                }

                                .bl_message_l {
                                    max-width: vwmin(400, pc, 400);
                                    width: 40%;
                                    flex-shrink: 0;
                                    aspect-ratio: 4/5;
                                    border-radius: vwmin(10, pc, 10);
                                    height: fit-content;

                                    @media (max-width: 1024px) {
                                        width: 50%;
                                        margin: 0 auto;
                                        margin-bottom: vwmin(40, sp, 40);
                                    }

                                    @media (max-width: 767px) {
                                        width: 90%;
                                    }
                                }

                                .bl_message_r {
                                    .el_message_ttl {
                                        font-size: vwmin(22, pc, 24);
                                        font-weight: 500;
                                        line-height: 1.5;
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        font-family: "Shippori Mincho";
                                        margin-bottom: vwmin(40, pc, 40);

                                        &::before {
                                            content: "";
                                            position: relative;
                                            width: vwmin(98, pc, 98);
                                            height: vwmin(1, pc, 1);
                                            background-color: var(--bordeaux-txt-line, #9E586C);
                                            margin-right: vwmin(8, pc, 8);
                                            top: 50%;
                                            transform: translateY(-50%);

                                            @media (max-width: 767px) {
                                                display: none;
                                            }
                                        }

                                        @media (max-width: 767px) {
                                            margin-bottom: vwmin(16, sp, 16);
                                        }
                                    }

                                    .el_message_txt {
                                        margin-bottom: vwmin(80, pc, 80);
                                        line-height: 2;
                                        font-size: vwmin(16, pc, 16);
                                        font-weight: 400;
                                        line-height: 2;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        @media (max-width: 767px) {
                                            margin-bottom: vwmin(40, sp, 40);
                                        }
                                    }
                                }

                            }

                            .splide {
                                width: 150vw;
                                margin-left: -18%;

                                .splide__track {
                                    .splide__list {
                                        .splide__slide {
                                            display: flex;

                                            @media (max-width: 767px) {}

                                            &:nth-child(2n+1) {
                                                padding-top: 3%;

                                            }

                                            &:nth-child(2n) {
                                                padding-bottom: 3%;

                                            }

                                            img {
                                                display: block;
                                                height: vwmin(560, pc, 560);

                                                @media (max-width: 767px) {
                                                    height: vwmin(320, sp, 320);
                                                }
                                            }
                                        }
                                    }
                                }

                                .splide__pagination,
                                .splide__arrows {
                                    display: none;
                                }
                            }

                        }
                    }

                }

                .ly_doctor {
                    max-width: max(1060px, 73.6111111111vw);
                    margin-inline: auto;
                    padding-left: vwmin(40, pc, 40);
                    padding-right: vwmin(40, pc, 40);
                    box-sizing: content-box;

                    @media (max-width: 1140px) {
                        box-sizing: border-box;
                    }

                    @media (max-width: 767px) {
                        padding-left: vwmin(20, sp, 20);
                        padding-right: vwmin(20, sp, 20);
                    }

                    .bl_doctorCard {
                        .bl_doctorCard_inner {
                            .el_doctorCard_img {}
                        }
                    }
                }


                .ly_topics {
                    padding-bottom: vwmin(220, pc, 220);

                    .ly_commonContantsOuter_inner {
                        max-width: unset;
                        padding-left: 0;
                        padding-right: 0;

                        .splide_topics {
                            width: 100%;

                            @media (max-width: 767px) {
                                left: 0;
                            }

                            .splide__track {
                                .splide__list {
                                    display: flex;
                                    width: 23.6%;
                                    position: relative;
                                    left: 38%;

                                    @media (max-width: 1024px) {
                                        width: 35%;
                                        left: 32%;
                                    }

                                    @media (max-width: 767px) {
                                        width: 80%;
                                        position: relative;
                                        left: 9.5%;
                                    }

                                    .splide__slide {
                                        a {
                                            display: block;

                                            .bl_topicsList_item_link_imgContainer {
                                                width: 100%;
                                                aspect-ratio: 340 / 227;
                                                object-fit: cover;
                                                overflow: hidden;
                                                border-radius: vwmin(12, pc, 12);

                                                @media (max-width: 767px) {
                                                    border-radius: vwmin(6, sp, 6);
                                                }

                                                img {
                                                    height: auto;
                                                    width: 100%;
                                                    aspect-ratio: 340 / 227;
                                                    object-fit: cover;
                                                    transition: all .4s var(--reverseTransition);
                                                }
                                            }

                                            .bl_topicsList_item_link_infoContainer {
                                                margin-top: max(24px, 1.6666666667vw);

                                                .bl_topicsList_item_link_info {
                                                    display: grid;
                                                    grid-template-columns: max-content 1fr;
                                                    gap: vwmin(12, pc, 12);
                                                    align-items: baseline;
                                                    margin-bottom: vwmin(12, pc, 12);
                                                    margin-left: vwmin(12, pc, 12);

                                                    .bl_topicsList_item_link_info_date {
                                                        font-family: Shippori Mincho;
                                                        font-size: vwmin(14, pc, 14);
                                                        font-style: normal;
                                                        font-weight: 600;
                                                        line-height: 1;
                                                        letter-spacing: vwmin(.04, pc, .04);
                                                    }

                                                    .bl_topicsList_item_link_info_termContainer {
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        gap: max(6px, .4166666667vw);

                                                        .bl_topicsList_item_link_info_term {
                                                            width: fit-content;
                                                            font-size: vwmin(12, pc, 12);
                                                            font-style: normal;
                                                            font-weight: 400;
                                                            line-height: 1.5;
                                                            letter-spacing: vwmin(04, pc, 04);
                                                            background-color: var(--white-bg);
                                                            padding-inline: vwmin(8, pc, 8);
                                                            padding-top: vwmin(2, pc, 2);
                                                            padding-bottom: vwmin(3, pc, 3);
                                                            border-radius: vwmin(2, pc, 2);
                                                        }
                                                    }
                                                }

                                                .el_topicsList_item_link_ttl {
                                                    font-size: vwmin(16, pc, 16);
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: 1.8;
                                                    letter-spacing: vwmin(.02, pc, .02);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .splide__pagination {
                                bottom: -105px;
                            }

                            .splide__arrows {
                                bottom: -80px;

                                .splide__arrow--prev {

                                    left: 50%;
                                    transform: translate(-140px);
                                    position: absolute;
                                }

                                .splide__arrow--next {
                                    right: 0%;
                                    transform: translateX(100px);
                                    position: absolute;
                                    left: 50%;
                                }
                            }
                        }
                    }
                }


                .ly_schedule {
                    padding-bottom: vwmin(220, pc, 220);

                    @media (max-width: 767px) {
                        padding-bottom: vwmin(140, sp, 140);
                    }

                    .ly_commonContantsOuter_inner {
                        display: grid;
                        grid-template-columns: vwmin(320, pc, 320) 1fr;
                        gap: vwmin(56, pc, 56);

                        @media (max-width: 767px) {
                            grid-template-columns: 1fr;
                            gap: 0;
                        }

                        .bl_commonSectionTtl {
                            .bl_commonSectionTtl_ttl {
                                text-align: left;
                            }
                        }

                        .bl_scheduleCnt {
                            .bl_scheduleCnt_item {
                                .schedule-slider {
                                    position: relative;

                                    .splide__arrows {
                                        bottom: -56px;

                                        .splide__arrow--prev {

                                            left: 50%;
                                            transform: translate(-140px);
                                            position: absolute;
                                        }

                                        .splide__arrow--next {
                                            right: 0%;
                                            transform: translateX(100px);
                                            position: absolute;
                                            left: 50%;
                                        }
                                    }

                                    .splide__pagination {
                                        bottom: -80px
                                    }

                                    .splide__track {
                                        .splide__list {
                                            .splide__slide {
                                                img {
                                                    max-width: unset;
                                                    width: 100%;
                                                    height: auto;
                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

                .ly_instagram,
                .ly_news,
                .ly_schedule {


                    .bl_topNewsSec_ttlContainer {
                        .bl_topNewsSec_ttlContainer_inner {
                            gap: vwmin(12, pc, 12) !important;
                            display: grid;
                        }
                    }

                    .ly_commonContantsOuter_inner {
                        .bl_topRecommendSec_ttlContainer {
                            text-align: left;
                            position: relative;
                            left: 0;
                            display: contents;
                            margin-inline: unset;

                            @media (max-width: 767px) {
                                display: block;
                                text-align: center;
                                margin-inline: auto;
                                position: relative;
                                left: unset;
                            }

                            .el_commonSectionTtl_ttl {
                                text-align: left;

                                @media (max-width: 767px) {
                                    text-align: center;
                                }

                                &:before {
                                    left: 25%;

                                    @media (max-width: 767px) {
                                        left: 50%;
                                    }
                                }
                            }

                            .el_commonSectionTtl_ttl_ttl {
                                text-align: left;

                                @media (max-width: 767px) {
                                    text-align: center;
                                }
                            }

                            .bl_topNewsSec_ttlContainer {
                                .bl_topNewsSec_ttlContainer_inner {
                                    gap: vwmin(12, pc, 1) !important;
                                }
                            }

                        }
                    }
                }

                .bl_topNewsSec_ttlContainer {
                    .bl_topRecommendSec_ttlContainer {
                        margin-inline: unset;

                        .bl_commonSectionTtl {
                            .el_commonSectionTtl_ttl {
                                text-align: left;

                                &:before {
                                    left: 25%;
                                }
                            }
                        }
                    }

                }

                .ly_information {
                    .bl_informationCnt {
                        padding-left: vwmin(160, pc);
                        padding-right: vwmin(160, pc);

                        @media (max-width: 767px) {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }

                    .bl_informationCnt dl {
                        display: grid;
                        grid-template-columns: auto 1fr;

                        @media (max-width: 767px) {
                            margin-top: -vwmin(24, sp, 24);
                        }
                    }

                    .bl_informationCnt dt {
                        font-size: vwmin(16, pc, 16);
                        font-weight: 400;
                        align-self: start;
                        padding-block: vwmin(28, pc, 28);
                        border-bottom: 1px solid var(--beige-line, #CCC8B9);
                        padding-right: vwmin(64, pc, 64);
                        height: 100%;

                        @media (max-width: 767px) {
                            padding-right: vwmin(32, sp, 32);
                            padding-block: vwmin(24, sp, 24);
                        }
                    }

                    .bl_informationCnt dd {
                        font-size: vwmin(16, pc, 16);
                        padding-top: vwmin(28, pc, 28);
                        padding-bottom: vwmin(28, pc, 28);
                        border-bottom: 1px solid var(--beige-line, #CCC8B9);

                        @media (max-width: 767px) {
                            padding-block: vwmin(24, sp, 24);
                        }
                    }

                    .bl_informationCnt_googleMapLink {
                        a {
                            display: inline-grid;
                            grid-template-columns: max-content vwmin(14, pc, 14);
                            align-items: center;
                            transition: all .3s var(--reverseTransition);
                            color: var(--gray-txt, #999);
                            gap: vwmin(8, pc, 8);

                            @media (hover:hover) {
                                &:hover {
                                    opacity: 0.7;
                                    transition: all .3s var(--reverseTransition);
                                }
                            }

                        }
                    }
                }

                .ly_access {
                    .access-steps {
                        margin-bottom: vwmin(100, pc, 100);

                        @media (max-width: 767px) {
                            margin-bottom: vwmin(40, sp, 40);
                        }

                        h3 {
                            font-family: "Shippori Mincho";
                            font-size: vwmin(20, pc, 20);
                            font-weight: 500;
                            line-height: 1.5;
                            margin-bottom: vwmin(40, pc, 40);
                            padding-bottom: vwmin(20, pc, 20);
                            text-align: left;
                            border-bottom: 1px solid var(--beige-line, #CCC8B9);

                        }
                    }

                    .access-steps_inner>div {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: vwmin(60, pc, 60) vwmin(20, pc, 20);

                        @media (max-width: 1024px) {
                            grid-template-columns: repeat(2, 1fr);
                        }

                        @media (max-width: 767px) {
                            gap: vwmin(16, sp, 16);
                        }
                    }

                    .access_step {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: vwmin(24, pc, 24);

                        @media (max-width: 767px) {
                            gap: vwmin(16, sp, 16);
                        }
                    }

                    .step_image {
                        width: 100%;
                    }

                    .step_image img {
                        width: 100%;
                        height: auto;
                        border-radius: vwmin(12, pc, 12);
                        display: block;

                        @media (max-width: 767px) {
                            border-radius: vwmin(6, sp, 6);
                        }
                    }

                    .bl_access_txtWrapper {
                        display: flex;
                        flex-direction: column;
                        gap: vwmin(12, pc, 12);
                    }



                    .el_reservationContainerList_upper_num p {
                        color: var(--bordeaux-txt-line, #9E586C);
                        font-weight: 400;
                        font-family: "Shippori Mincho";
                        line-height: 1;
                        font-size: vwmin(14, pc, 14);
                        margin: 0;
                    }

                    .step-description {
                        font-size: vwmin(16, pc, 16);
                        line-height: 1.8;
                        font-weight: 400;
                    }

                    .access_parking {
                        .access_parking_inner {
                            padding: vwmin(30, pc, 30);
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            gap: vwmin(40, pc, 40);
                            background-color: var(--white-bg);
                            border-radius: vwmin(12, pc, 12);

                            @media (max-width: 767px) {
                                border-radius: vwmin(6, sp, 6);
                                padding: vwmin(24, sp, 24);
                                display: block;
                                gap: 0;
                            }

                            .access_parking_l {
                                width: 60%;

                                @media (max-width: 767px) {
                                    width: 100%;
                                }

                                img {
                                    width: 100%;
                                    height: auto;
                                    border-radius: vwmin(8, pc, 8);

                                    @media (max-width: 767px) {
                                        border-radius: vwmin(6, sp, 6);
                                    }
                                }
                            }

                            .access_parking_r {
                                width: 100%;

                                h3 {
                                    font-family: "Shippori Mincho";
                                    font-size: vwmin(22, pc, 22);
                                    font-weight: 500;
                                    line-height: 1.5;
                                    margin-bottom: vwmin(16, pc, 16);

                                    @media (max-width: 767px) {
                                        margin-bottom: vwmin(14, sp, 14);
                                        margin-top: vwmin(22, sp, 22);
                                    }
                                }

                                .el_access_txt {
                                    p {
                                        font-size: vwmin(16, pc, 16);
                                        line-height: 1.8;
                                        font-weight: 400;

                                        a {
                                            text-decoration: underline;
                                            color: var(--baseFontColor);
                                            transition: all .3s var(--reverseTransition);

                                            @media (hover:hover) {
                                                &:hover {
                                                    opacity: 0.6;
                                                    transition: all .3s var(--reverseTransition);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }




    //splide 矢印　　ページネーション
    .splide__arrows {
        position: absolute;
        z-index: 5;
        width: 100%;

        .splide__arrow--prev,
        .splide__arrow--next {
            background-color: #333;
            height: auto;
            width: vwmin(40, pc, 40);
            cursor: pointer;
            opacity: 1;
            transition: .5s;
            aspect-ratio: 1 / 1;
            border: 1px solid transparent;

            @media (hover:hover) {
                &:hover {
                    background-color: #333;
                    background-color: var(--white-bg);
                    border: 1px solid #68192f;
                    transition: 0.5s;

                    &::before {
                        background-image: url("img/ico/red__arrow.svg");
                        transition: 0.5s;
                    }
                }

            }

            &::before {
                content: "";
                background-image: url(../img/common/white-arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 33%;
                height: 33%;
                z-index: 1;
            }

            svg {
                display: none;
            }

            &:first-child {
                &::before {
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
        }
    }

    .splide__arrow:disabled {
        background-color: #bbbbbb !important;
        pointer-events: none !important;
    }


    .splide__pagination {
        li {

            margin-right: .5%;
            margin-left: .5%;

            .splide__pagination__page {
                background-color: var(--beige-line, #CCC8B9);

                &.is-active {
                    background-color: #333;
                    transform: unset;
                }
            }
        }
    }
}


//インスタ非表示部分
#sb_instagram .sb_instagram_header,
.sb_instagram_header {
    display: none;
}

#sb_instagram #sbi_load,
#sbi_load {
    display: none;
}


#sb_instagram.sbi_fixed_height {

    width: 125vw !important;
    height: auto !important;

    @media (max-width: 800px) {
        width: 100% !important;
        padding: 0 vwmin(20, pc, 20);
    }
}

#sb_instagram #sbi_images {
    padding: 0 !important;

    .sbi_item {
        border-radius: vwmin(6, pc, 6);

        @media (max-width: 800px) {
            border-radius: vwmin(4, pc, 4);
        }
    }
}

.bl_instagram_post {
    overflow: scroll;
    cursor: pointer;
}

.single_pg_clinic .ly_main .un_clinic .ly_instagram {
    padding-inline: unset;

    .ly_commonContantsOuter_inner {
        gap: vwmin(80, pc, 80);
        grid-template-columns: vwmin(240, pc, 240) 1fr;
        max-width: vwmin(1660, pc, 1660);
        margin-left: auto;
        margin-right: 0;
        width: 87%;
        margin-inline: unset;
        position: relative;
        left: 50%;
        transform: translate(-43%);

        @media (max-width: 1024px) {
            width: 100%;
            left: 0;
            transform: translate(0);
        }

        @media (max-width: 800px) {
            gap: vwmin(16, sp, 16);
            grid-template-columns: 1fr;
        }

        @media (max-width: 800px) {
            width: 100%;
            left: 0;
            transform: translate(0);
            padding-left: 0;
        }
    }

    .bl_topNewsSec_ttlContainer {
        @media (max-width: 800px) {
            display: contents;
        }

        .bl_topNewsSec_ttlContainer_inner {
            display: grid;
            gap: vwmin(12, pc, 12) !important;

            .bl_commonSectionTtl {
                .el_commonSectionTtl_ttl {
                    text-align: left;

                    @media (max-width: 800px) {
                        text-align: center;
                    }

                    &:before {
                        left: 18%;
                        transform: translate(0);

                        @media (max-width: 800px) {
                            left: 50%;
                        }
                    }
                }

                .el_commonSectionTtl_ttl_ttl {
                    @media (max-width: 800px) {
                        text-align: center;
                    }
                }
            }
        }
    }

    .bl_topNewsSec_btnContainer {
        @media (max-width: 800px) {
            order: 3;
            width: fit-content;
            position: relative;
            left: 50%;
            transform: translate(-50%);

            @media (max-width: 767px) {
                left: 0;
                transform: translate(0);
            }
        }
    }

    .bl_topNewsSec_btnContainer {
        width: fit-content;
    }

    .bl_commonBorderRadialArrowBtn .el_commonBorderRadialArrowBtn_arrowContainer {
        transform: rotate(315deg);
    }


}

.single_pg_clinic {

    .ly_news {
        .bl_topNewsSec_ttlContainer {
            gap: vwmin(16, pc, 16) !important;


        }
    }
}