@use '../../foundation/function/index' as *;

//single_pg_doctor

.single_pg_doctor{
    /* === 共通スタイル === */

    .ly_commonContantsOuter_inner{
        max-width: max(1060px, 73.6111111111vw);
        margin-inline: auto;
        padding-left: vwmin(40, pc, 40);
        padding-right: vwmin(40, pc, 40);
        box-sizing: content-box;
        @media (max-width: 1140px){
            box-sizing: border-box;
        }
        @media (max-width: 767px){
            padding-left: vwmin(20, sp, 20);
            padding-right: vwmin(20, sp, 20);
        }
    }

.pc_no{
    display: none;
    @media (max-width: 1024px){
        display: block;
    }
}
.sp_no{
    display: block;
    @media (max-width: 1024px){
        display: none;
    }
}


.ly_profile {
    padding: 0 0 vwmin(48, pc, 48);
  
    .bl_profileCnt_item {
      display: grid;
      grid-template-columns: max(384px, 25.625vw) 1fr;
      gap: vwmin(76, pc, 76);
      @media (max-width: 1024px){
        display: flex;
        flex-direction: column;
        gap: 0;
      }
  
      .bl_profile_l {
        @media (max-width: 1024px){
            width: 100%;
            display: contents;
          }
        img{
            border-radius: vwmin(10, pc, 10);
            
            @media (max-width: 1024px){
                width: 60%;
                max-width: vwmin(384, pc, 384);
                margin: 0 auto;
            }
            @media (max-width: 767px){
                width: 100%;
            }
        }

        .profile-img{
            @media (max-width: 1024px){
                order: 2;
            }
        }
        .sns-button-group{
            margin-top: vwmin(32, pc, 32);
            text-align: center;
            @media (max-width: 1024px){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: vwmin(16, pc, 16);
                order: 3;
            }
            @media (max-width: 767px){
                display: block;
            }
            .sns-button{
                background-color: var(--white-bg);
                border-radius: vwmin(50, pc, 50);
                padding: vwmin(12, pc, 12);
                box-sizing: border-box;
                display: inline-flex;
                gap: vwmin(10, pc, 10);
                width: 80%;
                text-align: center;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                transition: 0.5s;
                gap: vwmin(10, pc, 10);
                margin-bottom: vwmin(16, pc, 16);
                &:last-child{
                    margin-bottom: 0;
                }
                @media (max-width: 1024px){
                    width: 100%;
                    margin-bottom: 0;
                }
                @media (max-width: 767px){
                    max-width: vwmin(300, sp, 300);
                    width: 80%;
                    margin-bottom: vwmin(16, sp, 16);
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .icon{
                    width: vwmin(20, pc, 20);
                    height: vwmin(20, pc, 20);
                    border-radius: 0;
                    margin: 0;
                }
                @media (hover:hover){
                &:hover{
                    background: var(--beige-bg01, #EBE9DF);
                    transition: 0.5s;
                }
            }
                span{
                    font-size: vwmin(20, pc, 20);
                    font-family: Marcellus;
                    font-weight: 400;
                    line-height: 1;
                    color: #333;
                    @media (max-width: 600px){
                        font-size: vwmin(16, pc, 16);
                    }
                }
            }
        }
      }
  
      .bl_profile_r {
        min-width: 0;
        line-height: 1.5;
        @media (max-width: 1024px){
            width: 100%;
            display: contents;
          }
        .el_profile_job {
            font-family: "Shippori Mincho";
            font-size: vwmin(18, pc, 18);
          color: #9E586C;
          line-height: 1.5;
        }

        .el_profile_job_other{
            font-family: "Shippori Mincho";
            font-size: vwmin(16, pc, 16);
            color: #999;
            line-height: 1.3;
            margin-bottom: vwmin(4, pc, 4);
            margin-top: 0;
        }
  
        .wp-block-heading {
            position: relative;
            color: var(--baseFontColor);
            font-family: Shippori Mincho;
            font-size: vwmin(40, pc, 40);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: vwmin(04, pc, 04);
            padding-bottom: vwmin(24, pc, 24);
            border-bottom: 2px solid var(--line);
            border-left: 0;
            margin-top: 0 !important;
            padding-left: 0;
            @media (max-width: 767px){
                font-size: vwmin(32, pc, 32);
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                height: vwmin(2, pc, 2);
                width: 100%;
                max-width: vwmin(100, pc, 100);
                translate: 0 vwmin(2, pc, 2);
                background-color: var(--lineText);
            }
            @media (max-width: 1024px){
                margin-bottom: vwmin(32, pc, 32);
            }
        }
  
        .el_profile_txt {
          font-size: vwmin(24, pc, 24);
          line-height: 1.8;
          color: #333;
          @media (max-width: 1024px){
            order: 4;
          }
          p{
            font-size: vwmin(16, pc, 16);
          }
        }
      }
    }
  }

  .bl_articlePage_article p:not(:first-child) {
    margin-top: vwmin(24, pc, 24);
}

.ly_historyAcademic{
    .ly_historyAcademic_inner{
        display: flex;
        max-width: vwmin(1060, pc, 1060);
        margin-inline: auto;
        gap: 6%;
        padding: vwmin(32, pc, 32) vwmin(64, pc, 64) vwmin(80, pc, 80);
        box-sizing: content-box;
        justify-content: center;
        @media (max-width: 1140px){
            box-sizing: border-box;
        }
        @media (max-width: 767px){
            display: block;
            
            padding: vwmin(32, sp, 32) vwmin(20, sp, 20) vwmin(60, sp, 60);
        }
    }
}
  
  /* === 経歴・所属学会セクション === */
  .ly_history, .ly_academic {
    width: 100%;
    @media (max-width: 767px){
        width: 100%;
    }
  
    .bl_topRecommendSec_ttlContainer {
      margin-bottom: vwmin(20, pc, 20);
  
      .el_commonSectionTtl_ttl_ttl {
        font-size: vwmin(20, pc, 20);
        font-weight: bold;
        border-left: 3px solid var(--bordeaux-txt-line, #9E586C);
        padding-left: vwmin(16, pc, 16);
      }
    }
  
    .bl_infomationCnt {
      font-size: vwmin(24, pc, 24);
      line-height: 1.8;
  
      dl {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: vwmin(83, pc, 83) 1fr;
        gap: vwmin(10, pc, 10) vwmin(0, pc, 0);
      }
  
      dt {
        font-weight: 400;
        font-size: vwmin(16, pc, 16);
        line-height: 1.5;
        @media (max-width: 767px){
            font-size: vwmin(16, pc, 16);
        }
      }
  
      dd {
        font-size: vwmin(16, pc, 16);
        @media (max-width: 767px){
        }
      }
      ul{
        li{
            font-size: vwmin(16, pc, 16);
            line-height: 1.8;
            font-weight: 400;
            margin-bottom: vwmin(10, pc, 10);
            &:last-child{
                margin-bottom: 0;
            }
            }
        }
      }
    }

    .ly_history{
        @media (max-width: 767px){
            margin-bottom: vwmin(60, sp, 60);
        }
    }
  
  
  /* === 近年の活動 アコーディオン === */

.ly_activities_box{
}

  .ly_activities {
    padding: vwmin(40, pc, 40);
    padding-bottom: vwmin(140, pc, 140);
    max-width: vwmin(800, pc, 800);
    margin-inline: auto;
    box-sizing: content-box;
    @media (max-width: 1140px){
        box-sizing: border-box;
    }
    @media (max-width: 767px){
        padding-bottom: vwmin(80, sp, 80);
        padding-left: vwmin(20, sp, 20);
        padding-right: vwmin(20, sp, 20);
        padding-top: 0;
    }
  
    .bl_topRecommendSec_ttlContainer {
  
      .el_commonSectionTtl_ttl_ttl {
        font-size: vwmin(20, pc, 20);
        font-weight: bold;
        border-radius: 12px 12px 0px vwmin(0, pc, 0);
        background: var(--beige-bg02, #E0DDD0);
        padding-left: vwmin(16, pc, 16);
        font-family: "Shippori Mincho";
        text-align: center;
        padding: vwmin(10, pc, 10) 0 vwmin(12, pc, 12);
      }
    }
}

.bl_accordion {
    margin: 0 auto;
    padding-top: vwmin(40, pc, 40);
    background-color: var(--white-bg);

  
  details {
    overflow: hidden;
    background-color: var(--white-bg);
    border-bottom: 1px solid var(--beige-line, #CCC8B9);
    margin: 0 5%;
  }
  
  summary {
    padding: vwmin(16, pc, 16) 0;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-bg);
    font-size: vwmin(16, pc, 16);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  .js-icon {
    width: vwmin(20, pc, 20);
    height: vwmin(20, pc, 20);
    position: relative;
  }
  
  .js-icon::before,
 .js-icon::after {
    content: '';
    position: absolute;
    background-color: #333;
    transition: transform 0.3s ease;
  }
  
 .js-icon::before {
    width: vwmin(1, pc, 1);
    height: vwmin(20, pc, 20);
    background-color: #9E586C;
    top: 0;
    left: vwmin(9, pc, 9);
    transform-origin: center;
  }
  
  .js-icon::after {
    width: vwmin(20, pc, 20);
    height: vwmin(1, pc, 1);
    background-color: #9E586C;
    top: vwmin(9, pc, 9);
    left: 0;
  }
  
  details[open] .js-icon::before {
    transform: scaleY(0);
  }
  
  .content {
    padding-bottom: vwmin(16, pc, 16);
    display: grid;
    grid-template-columns: vwmin(35, pc, 35) 1fr;
    gap: vwmin(30, pc, 30);
    font-size: vwmin(16, pc, 16);
    @media (max-width: 400px){
        gap: vwmin(14, pc, 14);
    }
  }

  }

  .ly_activities{
    .bl_commonBgContainer_txtContainer_btnContainer{
        background-color: var(--white-bg);
        border-radius: 0 0 vwmin(12, pc, 12) vwmin(12, pc, 12);
        padding: vwmin(40, pc, 40) 0;
        a{
            width: fit-content;
            margin: 0 auto;
        }
    }
}

  .ly_0uter{
    &:last-child{
        margin-top: -vwmin(20, pc, 20);
    }

    .ly_doctor{
        max-width: max(1060px, 73.6111111111vw);
        margin-inline: auto;
        padding-left: vwmin(40, pc, 40);
        padding-right: vwmin(40, pc, 40);
        box-sizing: content-box;
        @media (max-width: 1140px){
            box-sizing: border-box;
        }
        @media (max-width: 767px){
            padding-left: vwmin(20, sp, 20);
            padding-right: vwmin(20, sp, 20);
        }
        .ly_commonContantsOuter_inner{
            .bl_topRecommendSec_ttlContainer{
                margin-bottom: vwmin(60, pc, 60);
                width: fit-content;
                margin-inline: auto;
                @media (max-width: 767px){
                    margin-bottom: vwmin(40, sp, 40);
                }
                .bl_commonSectionTtl {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
        .bl_commonBgContainer_txtContainer_btnContainer{
            padding-top: vwmin(60, pc, 60);
            padding-bottom: 0;
            width: fit-content;
            margin: 0 auto;
            a{
                display: block;
            }
        }
    }
  }

.ly_doctor_box{
    background-color: var(--white-bg);
    padding-top: vwmin(80, pc, 80);
    padding-bottom: vwmin(140, pc, 140);
    @media (max-width: 767px){
        padding-top: vwmin(40, sp, 40);
        padding-bottom: vwmin(80, sp, 80);
    }
}

}


//archiveDoctor

.pg_archiveDoctor{
    .ly_main{
        position: relative;
        z-index: 2;
        .doctor-nav{
            max-width: max(1060px, 73.6111111111vw);
            margin: vwmin(120, pc, 120)  0 vwmin(60, pc, 60);
            margin-inline: auto;
            padding-left: vwmin(40, pc, 40);
            padding-right: vwmin(40, pc, 40);
            box-sizing: content-box;
            @media (max-width: 1140px){
                box-sizing: border-box;
            }
            @media (max-width: 767px){
                padding-left: vwmin(20, sp, 20);
                padding-right: vwmin(20, sp, 20);
                margin: vwmin(60, sp, 60) 0 vwmin(60, sp, 60);
            }
            .doctor-nav_list{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: vwmin(24, pc, 24) vwmin(24, pc, 24);
                @media (max-width: 1024px){
                    grid-template-columns: repeat(3, 1fr);
                }
                @media (max-width: 600px){
                    grid-template-columns: repeat(2, 1fr);
                    gap: vwmin(24, pc, 24) vwmin(18, pc, 18);
                }
                li{
                    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
                    position: relative;
                    a{
                        font-size: vwmin(14, pc, 14);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        line-height: 1.5;
                        transition: 0.5s;
                        padding-bottom: vwmin(10, pc, 10);
                        @media (hover:hover){
                        &:hover{
                            color: #68192f;
                            transition: 0.5s;
                            span{
                                border: 1px solid #68192f;
                                background-color: var(--white-bg);
                                transition: 0.5s;
                                &:after{
                                    background-image: url(img/ico/archive_doctor_red_arrow.svg);
                                    transition: 0.5s;
                                }
                            }
                        }
                        }
                        
                        span{
                            position: relative;
                            background-color: #68192f;
                            border-radius: vwmin(50, pc, 50);
                            display: block;
                            aspect-ratio: 1 / 1;
                            width: 10%;
                            border: 1px solid transparent;
                            transition: 0.5s;
                            min-width: vwmin(20, pc, 20);
                            &:after{
                                content: "";
                                position: absolute;
                                background-image: url(img/ico/archive_doctor_white_arrow.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                bottom: 15%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 43%;
                                height: 30%;
                                transition: 0.5s;
                            }
                        }
                    }

                    
                }
            }
        }


    }
    .jobCatSection, .clinicCatSection{
        max-width: max(1060px, 73.6111111111vw);
        margin-inline: auto;
        padding-left: vwmin(40, pc, 40);
        padding-right: vwmin(40, pc, 40);
        box-sizing: content-box;
        @media (max-width: 1140px){
            box-sizing: border-box;
        }
        @media (max-width: 767px){
            padding-left: vwmin(20, sp, 20);
            padding-right: vwmin(20, sp, 20);
        }
    }

    .bl_doctorList{
        margin-bottom: vwmin(80, pc, 80);
        @media (max-width: 767px){
            margin-bottom: vwmin(44, sp, 44);
        }
    }

    .bl_doctorList_ttl{
        border-left: 3px solid var(--bordeaux-txt-line, #9E586C);
        .CatTitle{
            font-size: vwmin(24, pc, 24);
            font-weight: 500;
            font-family: "Shippori Mincho";
            line-height: 1.5;
            margin-bottom: vwmin(24, pc, 24);
            padding-left: vwmin(16, pc, 16);
            @media (max-width: 767px){
                font-size: vwmin(20, sp, 20);
            }
        }
    }
}

.single_pg_doctor{
    .bl_footerReserveSec{
        background: #FFF;
        background: linear-gradient(180deg,var(--white-bg) 40%, rgba(224, 221, 208, 1) 40%);
    }
    .ly_footerBg{
        .ly_footerClinicSec{
            margin-top: 0;
        }
    }
}


//ドクターカード

.bl_doctorList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vwmin(20, pc, 20);
    @media (max-width: 1024px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px){
        grid-template-columns: repeat(1, 1fr);
    }
    .bl_doctorList_item{
        .bl_doctorCard{
            background-color: var(--white-bg);
            border-radius: vwmin(12, pc, 12);
            box-shadow: 0px 0px 6px 0px rgba(41, 25, 10, 0.10);
            cursor: pointer;
            transition: all .4s var(--reverseTransition);
            position: relative;
            &:before{
                content: "";
                background: linear-gradient(-45deg, #68192F 10%, transparent 0);
                border-radius: vwmin(12, pc, 12);
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: vwmin(100, pc, 100);
            }
            &:after{
                content: "";
                background-image: url(../img/common/white-arrow.svg);
                border-radius: vwmin(12, pc, 12);
                position: absolute;
                width: 5%;
                height: 6%;
                bottom: 6%;
                right: 1%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                @media (max-width: 767px){
                    bottom: 7%;
                }
            }
            @media (hover:hover){
            &:hover{
                .bl_doctorCard_inner{
                    border: solid 3px var(--bordeaux-txt-line, #68192F);
                    border-radius: vwmin(12, pc, 12);
                    transition: all .3s var(--reverseTransition);
                    @media (max-width: 767px){
                        pointer-events: none;
                        border: solid 3px transparent;
                    }
                }
            }
        }
                

            
            

            .bl_doctorCard_inner{
                border-radius: vwmin(12, pc, 12);
                padding: vwmin(13, pc, 13);
                box-sizing: border-box;
                display: flex;
                align-items: center;
                gap: vwmin(24, pc, 24);
                border: solid 3px transparent;
                transition: all .3s var(--reverseTransition);
                @media (max-width: 1024px){
                    gap: vwmin(16, pc, 16);
                }
                .el_doctorCard_img{
                    aspect-ratio: 1/1;
                    width: 100%;
                    overflow: hidden;
                    height: auto;
                    width: 43.05%;
                    object-fit: cover;
                    border-radius: vwmin(6, pc, 6);
                    @media (max-width: 1024px){
                        width: 33.5%;
                    }
                    img{
                        height: auto;
                        width: 100%;
                        border-radius: vwmin(6, pc, 6);
                    }
                }
                .el_doctorCard_txt{
                    font-family: "Shippori Mincho";
                    .el_doctorCard_txt_job{
                        font-family: "Noto Sans JP";
                        font-size: vwmin(14, pc, 14);
                        font-weight: 400;
                        line-height: 1.5;
                    }
                    .el_doctorCard_txt_job_other{
                        font-family: "Noto Sans JP";
                        font-size: vwmin(12, pc, 12);
                        color: var(--gray-txt, #999);
                        font-weight: 400;
                        line-height: 1.5;
                    }
                    .el_doctorCard_txt_name{

                        margin-top: vwmin(6, pc, 6);
                        font-size: vwmin(20, pc, 20);
                        font-weight: 500;
                        line-height: 1.5;
                        @media (max-width: 767px){
                            font-size: vwmin(18, pc, 18);
                        }
                        @media (max-width: 370px){
                            font-size: 5vw;
                        }
                    }
                }
            }
        }
    }
}