@use '../../foundation/function/index' as *;


.ly_richMenuTtlSec {
    position: relative;
    -webkit-mask-image: url("img/menu/rich-menu-pc.svg");
    mask-image: url("img/menu/rich-menu-pc.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    min-height: vwmin(620, pc, 620);

    @include underSP {
        min-height: 103vw;
        mask-position: 0 0;
        -webkit-mask-image: url("img/menu/rich-menu-sp.svg");
        mask-image: url("img/menu/rich-menu-sp.svg");
        mask-size: cover;
    }

    /* 背景画像 */
    .bl_richMenuTtlSec_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .bl_richMenuTtlSec_inner_ttlContainer {
        padding-inline: vwmin(20, pc, 20);
        padding-top: vwmin(144, pc, 144);

        .bl_richMenuTtlSec_inner_ttlContainer_inner {
            display: grid;
            grid-template-columns: 1fr vwmin(200, pc, 200);
            max-width: vwmin(1162, pc, 1162);
            margin-inline: auto;

            @include underTB {
                position: absolute;
                bottom: vwmin(60, pc, 60);
                padding-right: vwmin(20, pc, 20);
                grid-template-columns: 1fr;
            }
        }


        .bl_richMenuTtlWrapper {
            display: flex;
            flex-flow: column;
            gap: vwmin(22, pc, 22);

            .el_richMenuTtlWrapper_enTxt {
                color: var(--lineText);
                font-size: vwmin(20, pc, 20);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(20 * 0.008);
                text-transform: uppercase;
                font-family: Marcellus;

                @include underSP {
                    font-size: vwmin(16, pc, 16);
                }
            }

            .el_richMenuTtlWrapper_ttl {
                font-family: "Shippori Mincho";
                font-size: vwmin(42, pc, 42);
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: calc(42 * 0.0168);

                @include underSP {
                    font-size: vwmin(28, pc, 28);
                }
            }
        }
    }
}


/* ------------------------------
記事
------------------------------ */
.bl_menuArticleSec_inner_article {
    overflow-x: hidden;
}

.bl_menuArticleSec {
    padding-inline: vwmin(20, pc, 20);
    padding-top: vwmin(120, pc, 120);
    padding-bottom: vwmin(140, pc, 140);

    .bl_menuArticleSec_inner {
        max-width: vwmin(1200, pc, 1200);
        margin-inline: auto;
        display: grid;
        grid-template-columns: vwmin(172, pc, 172) 1fr;
        justify-content: space-between;
        gap: vwmin(149, pc);

        @include underTB {
            grid-template-columns: 1fr;
            gap: vwmin(100, pc, 100);
        }
    }
}