@use '../../foundation/function/index' as *;



.bl_commonPageMain {
    color: var(--baseFontColor);
    padding-top: vwmin(130, pc, 130);
}

.bl_commonPageContents {
    position: relative;
    padding-inline: vwmin(20, pc, 20);
    padding-top: vwmin(40, pc, 40);
    padding-bottom: vwmin(80, pc, 80);
    z-index: 1;

    @include underTB {
        padding-inline: vwmin(20, sp);
        padding-top: vwmin(40, sp);
        padding-bottom: vwmin(40, sp);
    }

    .bl_commonPageContents_inner {
        max-width: vwmin(1000, pc, 1000);
        margin-inline: auto;

        @include underTB {
            max-width: 100%;
        }
    }
}

.bl_commonPageMain_ttl {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: vwmin(16, pc, 16);
    background-color: #fafafa;
    padding-inline: vwmin(20, pc, 20);
    padding-top: vwmin(56, pc, 56);
    padding-bottom: vwmin(40, pc, 40);
    box-sizing: border-box;

    @include underTB {
        padding-inline: vwmin(20, sp);
        padding-top: vwmin(56, sp);
        padding-bottom: vwmin(40, sp);
    }

    h1 {
        margin-block: 0;

        @include underTB {
            font-size: vwmin(24, sp);
        }
    }

    .el_commonPageMain_ttl_en {
        margin-block: 0;
        color: var(--green);

        @include underTB {
            font-size: vwmin(16, sp);
        }
    }
}

.bl_lowPage_ttlContainer {
    position: relative;

    .bl_commonPageMain_ttl {

        h1 {
            z-index: 1;
        }

        .el_commonPageMain_ttl_en {
            z-index: 1;
        }
    }

    .el_lowPage_ttlContainer_img {
        position: absolute;
        left: 0;
        top: vwmin(56, pc);
        width: 100%;
        height: auto;

        @include underTB {
            top: vwmin(56, sp);
        }
    }
}


.is-style-bl_pageTable-underline {
    table {
        tbody {

            tr {
                display: grid;
                grid-template-columns: vwmin(400, pc, 400) 1fr;
                border-bottom: vwmin(1, pc, 1) #dfdfdf solid;

                @include underTB {
                    grid-template-columns: vwmin(200, sp) 1fr;

                    border-bottom: vwmin(1, sp) #dfdfdf solid;
                }
            }

            td {
                padding: vwmin(32, pc, 32);
                border: 0px none;

                @include underTB {
                    padding: vwmin(10, sp);
                }

                &:first-child {
                    vertical-align: middle;
                }
            }

        }
    }

}


/*
404
*/
.bl_page404Main {
    padding-top: vwmin(120, pc, 120);
    padding-bottom: vwmin(140, pc, 140);
    padding-inline: vwmin(20, pc, 20);

    @include underTB {
        padding-top: vwmin(60, pc, 60);
        padding-bottom: vwmin(60, pc, 60);
    }

    .bl_page404Main_inner {
        max-width: vwmin(880, pc, 880);
        margin-inline: auto;
    }

    .bl_page404Main_txtContainer {
        margin-bottom: vwmin(80, pc, 80);

        .el_page404Main_txtContainer_ttl {
            width: fit-content;
            margin-inline: auto;
            color: var(--lineText);
            font-family: Marcellus;
            font-size: vwmin(32, pc, 32);
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(vwmin(32, pc, 32) * 0.02);
            margin-bottom: vwmin(20, pc, 20);
        }

        .el_page404Main_txtContainer_txt {
            color: var(--baseFontColor);
            text-align: center;
            font-size: vwmin(16, pc, 16);
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: calc(vwmin(16, pc, 16) * 0.02);
        }
    }

    .el_page404Main_btn {
        display: block;
        width: fit-content;
        font-family: "Shippori Mincho";
        margin-inline: auto;
        color: var(--baseFontColor);
        font-size: vwmin(16, pc, 16);
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: calc(vwmin(16, pc, 16) * 0.04);
        border-bottom: vwmin(1, pc, 1) solid #CCC8B9;
        padding-bottom: vwmin(8, pc, 8);
        transition: all .3s var(--reverseTransition);


        @media (hover: hover) {
            &:hover {
                color: var(--accentColor);
                border-color: var(--accentColor);
                transition: all .3s var(--reverseTransition);
            }
        }
    }
}