@use '../../foundation/function/index' as *;


.bl_priceSec {
    padding-inline: vwmin(20, pc, 20);
    box-sizing: border-box;
    padding-top: vwmin(120, pc, 120);
    padding-bottom: vwmin(140, pc, 140);

    @include underTB {
        padding-top: vwmin(60, pc, 60);
        padding-bottom: vwmin(70, pc, 70);
    }

    .bl_priceSec_inner {
        max-width: vwmin(1200, pc, 1200);
        margin-inline: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        gap: vwmin(40, pc, 40);

        @include underTB {
            flex-flow: column;
            gap: vwmin(50, pc, 50);
        }

        .bl_priceSec_seideMenuContainer {
            position: sticky;
            top: vwmin(120, pc, 120);
            height: fit-content;
            overflow-y: auto;
            max-width: vwmin(260, pc, 260);
            width: 100%;

            @include underTB {
                position: relative;
                top: 0;
                max-width: 100%;
            }

            .bl_priceSec_seideMenuContainer_list {
                display: flex;
                flex-flow: column;
                gap: vwmin(40, pc, 40);
                margin-bottom: vwmin(16, pc, 16);

                @include underTB {
                    max-width: 100%;
                }

                .bl_priceSec_seideMenuContainer_item {

                    .el_priceSec_seideMenuContainer_item_ttl {
                        color: var(--baseFontColor);
                        font-size: vwmin(16, pc, 16);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.5;
                        margin-bottom: vwmin(16, pc, 16);
                    }

                    .bl_priceSec_seideMenuContainer_item_selectContainer {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: vwmin(16, pc, 16);
                            transform: translateY(-50%);
                            background-image: url('../img/common/under-arrow.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            width: vwmin(10, pc, 10);
                            height: vwmin(5, pc, 5);
                            background-size: 100% 100%;
                            background-size: contain;
                        }
                    }

                    .bl_priceSec_seideMenuContainer_item_select {
                        display: block;
                        width: 100%;
                        background-color: #fff;
                        border-radius: vwmin(2, pc, 2);
                        padding-inline: vwmin(16, pc, 16);
                        padding-block: vwmin(10, pc, 10);
                        font-size: vwmin(16, pc, 16);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: var(--baseFontColor);
                        border: none;
                        border-bottom: vwmin(1, pc, 1) solid #68192F;


                        .el_priceSec_seideMenuContainer_item_select_first {
                            color: #999;
                        }
                    }
                }
            }

            .el_priceSec_seideMenuContainer_txt {
                color: var(--black, #333);
                font-size: vwmin(14, pc, 14);
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: calc(.28 / 14 * 1em);
            }

        }



        .bl_priceContentsContainer {
            display: flex;
            flex-flow: column;
            gap: vwmin(60, pc, 60);
            max-width: vwmin(800, pc, 800);
            width: 100%;

            @include underTB {
                gap: vwmin(40, pc, 40);
            }
        }
    }
}


.bl_priceListContainer_clinicBtnList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(vwmin(107, pc, 107), 100%), 1fr));
    gap: vwmin(8, pc, 8);

    .bl_priceListContainer_clinicBtnList_item {
        .el_priceSec_seideMenuContainer_item_select_btn {
            display: block;
            cursor: pointer;
            width: 100%;
            color: var(--baseFontColor);
            font-size: vwmin(14, pc, 14);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: calc(-.56 / 14 * 1em);
            background-color: #E0DDD0;
            border-radius: vwmin(50, pc, 50);
            padding-inline: vwmin(10, pc, 10);
            padding-block: vwmin(6, pc, 6);
            border: none;
            width: 100%;
            transition: all 0.3s var(--reverseTransition);
        }

        .is-active {
            background-color: #fff;
            color: var(--baseFontColor);
            transition: all 0.3s var(--reverseTransition);
        }
    }
}


.bl_priceListContainer_priceList_largeList {
    display: flex;
    flex-flow: column;
    gap: vwmin(60, pc, 60);

    .bl_priceListContainer_priceList_largeList_item {
        display: flex;
        flex-flow: column;
        gap: vwmin(30, pc, 30);

        &:not(:first-child) {
            padding-top: vwmin(60, pc, 60);
            border-top: vwmin(1, pc, 1) solid #CCC8B9;
        }

        .bl_priceListContainer_priceList_largeList_item_ttl {
            color: var(--baseFontColor);
            font-family: "Shippori Mincho";
            font-size: vwmin(28, pc, 28);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(1.12 / 28 * 1em);
        }
    }
}

.bl_priceListContainer_priceList_smallList {
    display: flex;
    flex-flow: column;
    gap: vwmin(30, pc, 30);


    .bl_priceListContainer_priceList_smallist_item {

        .el_priceListContainer_priceList_smallList_post_ttl {
            border-left: vwmin(1, pc, 1) solid #9E586C;
            padding-left: vwmin(16, pc, 16);
            color: var(--baseFontColor);
            font-family: "Shippori Mincho";
            font-size: vwmin(20, pc, 20);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(0.8 / 20 * 1em);
            margin-bottom: vwmin(20, pc, 20);
        }
    }
}

.bl_priceListContainer {
    display: none;
    flex-flow: column;
    gap: vwmin(30, pc, 30);

    .bl_priceTableList {
        display: flex;
        flex-flow: column;
        gap: vwmin(20, pc, 20);
        background-color: #fff;
        padding: vwmin(20, pc, 20);
        border-radius: vwmin(8, pc, 8);

        .bl_priceTableList_item {
            display: flex;
            flex-flow: column;
            gap: vwmin(20, pc, 20);
            padding-bottom: vwmin(20, pc, 20);
            border-bottom: vwmin(1, pc, 1) solid #CCC8B9;

            @include underTB {
                gap: vwmin(8, pc, 8);
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            .bl_priceTableList_item_innerContainer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: vwmin(20, pc, 20);

                @include underTB {
                    display: flex;
                    flex-flow: column;
                    gap: vwmin(16, pc, 16);
                }

                .bl_priceTableList_item_innerContainer_left {

                    .el_priceTableList_item_innerContainer_left_txt {
                        color: var(--baseFontColor);
                        font-size: vwmin(16, pc, 16);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.5;
                    }
                }

                .bl_priceTableList_item_innerContainer_right {
                    display: flex;
                    flex-flow: column;
                    gap: vwmin(8, pc, 8);
                    color: var(--baseFontColor);
                    text-align: right;
                    font-size: vwmin(16, pc, 16);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5;
                    order: 2;



                    .bl_priceTableList_item_innerContainer_right_container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: vwmin(8, pc, 8);
                    }

                    .bl_priceTableList_item_innerContainer_right_container_table {
                        display: grid;
                        grid-template-columns: vwmin(80, pc, 80) 1fr;
                        gap: vwmin(8, pc, 8);

                        @include underTB {
                            display: flex;
                            justify-content: flex-end;
                        }

                        .el_priceTableList_item_innerContainer_right_txtContainer_view {
                            @include underTB {
                                min-width: vwmin(80, pc, 80);
                                width: 100%;
                                text-align: right;
                            }
                        }

                        .bl_priceTableList_item_innerContainer_right_txtContainer_num {
                            @include underTB {
                                max-width: vwmin(80, pc, 80);
                                width: 100%;
                            }
                        }
                    }

                    .bl_priceTableList_item_innerContainer_right_txtContainer {
                        @include underTB {
                            &:first-child {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.el_priceListContainer_priceList_smallList_post_caption {
    color: var(--baseFontColor);
    font-size: vwmin(14, pc, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: calc(0.28 / 14 * 1em);
    margin-top: vwmin(10, pc, 10);
    text-align: left;

    @include underTB {
        margin-top: vwmin(20, pc, 20);
    }
}


.is_priceListContainerActive {
    display: flex;
}