@use '../../foundation/function/index' as *;

.ly_commonSingleMain {

    padding-top: vwmin(120, pc);

    @include underTB {
        padding-top: vwmin(80, sp);
    }

    .ly_commonSingleMainContainer {
        padding-top: vwmin(20, pc);
        padding-bottom: vwmin(80, pc);
        padding-inline: vwmin(20, pc);

        @include underTB {
            padding-top: vwmin(20, sp);
            padding-bottom: vwmin(80, sp);
            padding-inline: vwmin(20, sp);
        }

        .bl_commonSingleMain_inner {
            max-width: vwmin(950, pc);
            margin-inline: auto;

            @include underTB {
                max-width: 100%;
            }
        }
    }
}


.bl_commonSingleArticle {
    box-sizing: border-box;
    padding: vwmin(56, pc);
    border: vwmin(1, pc) solid #ebebebbf;

    @include underTB {
        padding:0;
        border: none;
    }
}

.bl_commonSingleMain_allbtn {
    display: block;
    margin-bottom: vwmin(32, pc);
    font-size: vwmin(16, pc);
    text-decoration: underline;
    line-height: 1.5;
    color: var(--baseFontColor);
    transition: all .3s ease;

    @include underTB {
        margin-bottom: vwmin(32, sp);
        font-size: vwmin(16, sp);
    }

    @media (hover :hover) {
        &:hover {
            opacity: .5;
            transition: all .3s ease;
        }
    }
}

.bl_commonSingleArticle_ttl {
    margin-bottom: vwmin(32, pc);

    @include underTB {
        margin-bottom: vwmin(32, sp);
    }

    .bl_commonSingleArticle_ttl_date {
        display: flex;
        gap: vwmin(16, pc);
        font-size: vwmin(14, pc);
        margin-block: 0;
        margin-bottom: vwmin(16, pc);

        p {
            margin-block: 0;
        }

        @include underTB {
            flex-flow: column;
            font-size: vwmin(14, sp);
            gap: vwmin(8, sp);
            margin-bottom: vwmin(16, sp);
        }
    }

    .el_commonSingleArticle_ttl_main {
        font-size: vwmin(28, pc);
        line-height: 1.8;
        font-weight: 600;
        margin-block: 0;

        @include underTB {
            font-size: vwmin(24, sp);
        }
    }
}

#toc_container {
    box-sizing: border-box;
    margin-top: vwmin(24, pc);
    padding: vwmin(24, pc);

    @include underTB {
        padding: vwmin(24, sp);
    }

    a {
        color: var(--baseFontColor);
        text-decoration: underline;
    }

    .toc_list {
        max-width: vwmin(600, pc);
        margin-inline: auto;

        @include underTB {
            max-width: 100%;
        }
    }
}

.bl_commonSingleArticle_contents {
    padding-bottom: vwmin(40, pc);
    box-sizing: border-box;

    @include underTB {
        padding-bottom: vwmin(40, sp);
    }


    h2 {
        margin-top: vwmin(60, pc);

        @include underTB {
            margin-top: vwmin(60, sp);
        }
    }

    h3{
        margin-top: vwmin(45, pc) ;

        @include underTB {
            margin-top: vwmin(45, sp);
        }    
    }

    h4{
        margin-top: vwmin(30, pc) ;

        @include underTB {
            margin-top: vwmin(30, sp);
        }
    }
}

.bl_commonSingleShareList {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-block: vwmin(1, pc) #dfdfdf solid;
    gap: vwmin(16, pc);
    list-style: none;
    padding-block: vwmin(24, pc);
    padding-inline: vwmin(16, pc);
    margin-block: 0;

    @include underTB {
        gap: vwmin(16, sp);
        padding-block: vwmin(24, sp);
        padding-inline: vwmin(16, sp);
    }


    .bl_commonSingleShareList_item {
        position: relative;
    }

    .el_commonSingleShareList_item_btn {
        cursor: pointer;
        display: block;
        width: 100%;
        max-width: vwmin(24, pc);
        aspect-ratio: 1/1;
        background-color: transparent;
        border: none;
        padding: 0;
        height: auto;

        @include underTB {
            max-width: vwmin(24, sp);
        }

        img {
            object-fit: contain;
        }

        @media (hover: hover) {
            &:hover {
                opacity: .5;
                transition: all .3s ease;
            }
        }
    }

    .el_commonSingleShareList_item_tooltip {
        display: none;
        position: absolute;
        bottom: -95%;
        width: vwmin(80, pc);
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        color: #222;
        background: #dedede;
        padding: vwmin(2, pc) vwmin(8, pc);
        border-radius: vwmin(4, pc);
        font-size: vwmin(10, pc);
        z-index: 10;
        margin-block: 0;

        @include underTB {
            padding: vwmin(2, sp) vwmin(8, sp);
            font-size: vwmin(10, sp);
            width: vwmin(80, sp);
            border-radius: vwmin(4, sp);
        }
    }
}

.bl_commonSingleArticle_author {
    margin-top: vwmin(40, pc);

    @include underTB {
        margin-top: vwmin(40, sp);
    }


    .bl_commonSingleArticle_author_list {
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        list-style: none;
        padding-left: none;
        gap: vwmin(24, pc);
        padding-left: 0;

        @include underTB {
            gap: vwmin(24, sp);
        }

        .bl_commonSingleArticle_author_list_item {
            padding: vwmin(24, pc);
            background-color: #f9f9f9;
            box-sizing: border-box;

            @include underTB {
                padding: vwmin(24, sp);
            }
        }
    }

    .bl_commonSingleArticle_author_name {
        display: inline-flex;
        gap: vwmin(16, pc);
        align-items: baseline;
        font-size: vwmin(20, pc);
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: vwmin(8, pc);

        @include underTB {
            font-size: vwmin(20, sp);
        }

        p {
            margin-block: 0;
        }
    }

    .bl_commonSingleArticle_author_contents {
        font-size: vwmin(14, pc);
        word-break: break-all;

        @include underTB {
            font-size: vwmin(14, sp);
        }
    }
}


/* 関連記事
------------------------------------*/
.bl_commonSingleOtherPostListContainer {
    margin-top: vwmin(40, pc);

    @include underTB {
        margin-top: vwmin(40, sp);
    }

    .bl_commonSingleOtherPostListContainer_ttl {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vwmin(24, pc);

        @include underTB {
            margin-bottom: vwmin(24, sp);
        }

        .el_commonSingleOtherPostListContainer_ttl_main {
            font-weight: 600;
            margin-block: 0;
        }

        .el_commonSingleOtherPostListContainer_ttl_allBtn {
            display: block;
            text-decoration: underline;
            text-underline-offset: vwmin(2, pc);
            color: var(--baseFontColor);
            transition: all .3s ease;

            @include underTB {
                text-underline-offset: vwmin(2, sp);
            }

            @media (hover : hover) {
                &:hover {
                    opacity: .5;
                    transition: all .3s ease;
                }
            }
        }
    }

    .bl_commonSingleOtherPostListContainer_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: vwmin(16, pc);
        padding-left: 0;
        margin-block: 0;
        list-style: none;
        align-items: flex-start;

        @include underTB {
            grid-template-columns: repeat(1, 1fr);
            gap: vwmin(16, sp);
        }

        .bl_commonSingleOtherPostListContainer_list_item {
            display: contents;
        }

        .bl_commonSingleOtherPostListContainer_list_card {
            display: grid;
            grid-template-rows: subgrid;
            grid-row: span 2;
            width: 100%;
            border: vwmin(1, pc) solid #dfdfdf;
            transition: all .3s ease;
            text-decoration: none;
            gap: 0;

            @include underTB {
                border: vwmin(1, sp) solid #dfdfdf;
            }

            @media (hover :hover) {
                &:hover {
                    opacity: .5;
                    transition: all .3s ease;
                }
            }

            .bl_commonSingleOtherPostListContainer_list_item_img {
                height: auto;
                aspect-ratio: 16/9;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .bl_commonSingleOtherPostListContainer_list_item_noImg {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    padding: vwmin(20, pc);
                    box-sizing: border-box;

                    @include underTB {
                        padding: vwmin(20, sp);
                    }
                }
            }

            .el_commonSingleOtherPostListContainer_list_card_ttl {
                font-size: vwmin(16, pc);
                padding: vwmin(16, pc);
                box-sizing: border-box;
                margin-block: 0;
                color: var(--baseFontColor);
                border-top: vwmin(1, pc) solid #dfdfdf;
                height: 100%;


                @include underTB {
                    font-size: vwmin(16, sp);
                    padding: vwmin(16, sp);
                    border-top: vwmin(1, sp) solid #dfdfdf;
                }

                p {
                    margin-block: 0;
                }
            }
        }


    }


}


.toc_transparent {
    padding: vwmin(30, pc) !important;

    @include underTB {
        padding: vwmin(30, sp) !important;
    }
}

.toc_list {
    display: flex;
    flex-flow: column;
    gap: vwmin(20, pc);

    @include underTB {
        gap: vwmin(20, sp);
    }

    li {
        display: flex;
        flex-flow: column;
        gap: vwmin(8, pc);

        @include underTB {
            gap: vwmin(8, sp);
        }

        ul {
            display: flex;
            flex-flow: column;
            gap: vwmin(16, pc);

            @include underTB {
                gap: vwmin(16, sp);
            }
        }
    }

}